<mat-sidenav-container class='app-drawer-container' fullscreen>
  <mat-sidenav #sidenav mode="side" class="mat-elevation-z0">
    <mat-nav-list style="margin-top: 50px;">
      <a mat-list-item [routerLink]="['/home']"><dl class="pairs"><dt class="dt-icon"><mat-icon class="material-icons forum-icon">forum</mat-icon></dt><dd><span class="sidenav-forum">Forums</span></dd></dl></a>
      <ng-container *ngFor="let category of categories; let i = index">
        <div class="title" *ngIf="i === 0">
          <a mat-list-item class="light-link" [routerLink]="['/categories', category.id, 'posts']"><dl class="pairs"><dt class="dt-icon"><mat-icon class="material-icons sidenav-icons">sports_esports</mat-icon></dt><dd class="sidenav-items">{{ category.name }}</dd></dl></a>
        </div>
        <div class="title" *ngIf="i === 1">
          <a mat-list-item class="light-link" [routerLink]="['/categories', category.id, 'posts']"><dl class="pairs"><dt class="dt-icon"><mat-icon class="material-icons sidenav-icons">headset_mic</mat-icon></dt><dd class="sidenav-items">{{ category.name }}</dd></dl></a>
        </div>
        <div class="title" *ngIf="i === 2">
          <a mat-list-item class="light-link" [routerLink]="['/categories', category.id, 'posts']"><dl class="pairs"><dt class="dt-icon"><mat-icon class="material-icons sidenav-icons">forum</mat-icon></dt><dd class="sidenav-items">{{ category.name }}</dd></dl></a>
        </div>
        <div class="title" *ngIf="i === 3">
          <a mat-list-item class="light-link" [routerLink]="['/categories', category.id, 'posts']"><dl class="pairs"><dt class="dt-icon"><mat-icon class="material-icons sidenav-icons">groups</mat-icon></dt><dd class="sidenav-items">{{ category.name }}</dd></dl></a>
        </div>
      </ng-container>
      <a mat-list-item><dl class="pairs" [routerLink]="['/trending',]"><dt class="dt-icon"><mat-icon class="material-icons sidenav-icons">trending_up</mat-icon></dt><dd class="sidenav-items">Trending Posts</dd></dl></a>
      <!-- TODO: PASS CATEGORY ID THROUGH ROUTERLINK EITHER HERE OR IN POST LIST COMPONENT (LIKELY THE LATTER) -->
      <a mat-list-item><dl class="pairs" [routerLink]="['/posts',]"><dt class="dt-icon"><mat-icon class="material-icons sidenav-icons">chat</mat-icon></dt><dd class="sidenav-items">Latest Posts</dd></dl></a>
      <div class="title">
        <a mat-list-item class="light-link" [routerLink]="['/games']"><dl class="pairs"><dt class="dt-icon"><mat-icon class="material-icons sidenav-icons">videogame_asset</mat-icon></dt><dd class="sidenav-items">Games</dd></dl></a>
      </div>
      <mat-accordion elevation={0}>
        <mat-expansion-panel hideToggle class="mat-elevation-z0" style="background: var(--bkg-color); padding: 0;">
          <mat-expansion-panel-header style="padding: 16px; background: var(--bkg-color);">
            <mat-panel-title>
              <dl class="pairs"><dt class="dt-icon"><mat-icon class="material-icons sidenav-icons">confirmation_number</mat-icon></dt><dd><span class="sidenav-items">Tickets</span></dd></dl>
            </mat-panel-title>
            <mat-panel-description>
              <!-- This is a summary of the content -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container-fluid" style="padding: 0;">
            <div class="container" style="padding: 0;">
              <a mat-list-item style="padding: 0;"><span class="sidenav-items" class="dark-mode-text">Open New Ticket</span></a>
            </div>
            <br>
            <div class="container-fluid" style="padding: 0;">
              <a mat-list-item style="padding: 0;"><span class="sidenav-items">Watched</span></a>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <hr class="dark-mode-text">
      <a mat-list-item (click)="onHideImagesButtonClick()"><dl class="pairs hide-images"><dt class="dt-icon"><mat-icon class="material-icons sidenav-icons">hide_image</mat-icon></dt><dd><span class="sidenav-items">Hide Images</span></dd></dl></a>
      <hr class="dark-mode-text">
      <!-- <a mat-list-item (click)="toggleDarkTheme()"><dl class="pairs"><dt class="dt-icon"><mat-icon class="material-icons sidenav-icons">light_mode</mat-icon></dt><dd><span  class="sidenav-items">Light/Dark</span></dd></dl></a> -->
      <a mat-list-item><mat-slide-toggle
      class="example-margin"
      [color]="color"
      [checked]="checked"
      [disabled]="disabled" (click)="toggleDarkTheme()">
      <p class="sidenav-items" style="margin-left: 5px;">Light/Dark</p>
      </mat-slide-toggle>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
