.app-drawer-container {
  flex: 1;
}

.app-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

a {
  font-family: "Palanquin Dark",serif !important;
}

p {
  font-family: "Josefin Sans",serif;
}

.pairs {
  display: flex;
  float: left;
  max-width: 100%;
  margin-right: 12px;
  flex-shrink: 0;

}

.dt-icon {
  margin-right: 10px;
}
