.app-drawer-container {
  flex: 1;
}

.app-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

a {
  font-family: "Palanquin Dark",serif !important;
}

p {
  font-family: "Josefin Sans",serif;
}

html {
  color-scheme: light;
}

html:has(body > #theme-toggle:checked) {
  color-scheme: dark;
}
