.app-drawer-container {
  flex: 1;
  background: var(--bkg-color);
}

.app-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

a {
  font-family: "Palanquin Dark",serif !important;
}

p {
  font-family: "Josefin Sans",serif;
}

.pairs {
  display: flex;
  float: left;
  max-width: 100%;
  margin-right: 12px;
  flex-shrink: 0;

}

.dt-icon {
  margin-right: 10px;
}

mat-sidenav {
  background: var(--bkg-color);
  border: none;
}

.forum-icon {
  color:#3f51b5;
}

.sidenav-icons {
  color:#58595b;
}

.sidenav-items {
  font: 16px 'Roboto', sans-serif;
  color: var(--text-color);
}

.sidenav-forum {
  color:#3f51b5;
}

.dark-mode-text {
  color: var(--text-color);
}
