.breadcrumbnav {
  list-style: none;
}

.breadcrumbnav > li {
  display: inline-block;
  font-weight: bold;
  font-family: "Palanquin Dark",serif;
  font-size: 1em;
}

.breadcrumbnav li::after {
  content: " \a0> \a0";
}

.breadcrumbnav li:last-child::after {
  content: "";
}

.breadcrumbnav > a {
  font-weight: normal;
  text-decoration: none;
  color: #222;
}

.breadcrumbnav > a:hover {
  text-decoration: underline;
}

.breadcrumb-value {
  cursor: pointer;
}

.breadcrumb-outer-bottom {
  margin-bottom: 100px !important;
  margin-top: 100px !important;
  margin: 25px;
}
