<div class="breadcrumb-outer">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" [routerLink]="['/users/' + profileUser.id]">{{ profileUser.username }}'s Profile</li>
    </ol>
  </div>
</div>

<div class="p-body">
  <div class="p-body-inner">
    <div class="p-body-main">
      <div class="p-body-content">
        <div class="p-body-pageContent">
          <div class="block">
            <div class="block-container">
              <div class="block-body">
                <div class="member-header">
                  <div class="member-banner" style="background-image: url({{profileUser.bannerImage}}); background-position-y: 32%; background-size: 100% auto;">
                    <div class="member-main-content">
                      <span class="member-avatar">
                        <span class="avatar-wrapper">
                          <a class="avatar-url"><img class="user-avatar" src="{{ profileUser.imageUrl }}" alt=""></a>
                        </span>
                      </span>
                      <div class="memberHeader-content">
                        <div class="memberHeader-action">
                          <div class="button-group">
                            <button mat-raised-button color="primary">Edit</button>
                          </div>
                        </div>
                        <h1 class="member-header-name">
                          <span class="name-wrapper">
                            <span class="username">{{ profileUser.username }}</span>
                          </span>
                        </h1>
                        <div class="member-header-blurbContainer">
                          <div class="member-header-blurb">
                            <span class="user-account-status" *ngIf="profileUser.status === 'active'">Member</span>
                          </div>
                          <div class="member-header-blurbMessage">
                            <span class="user-bannerMessage">{{ profileUser.bannerMessage }}</span>
                          </div>
                          <div class="member-header-blurb">
                            <dl class="activity-pairs">
                              <dt class="blurb-data">Joined: </dt>
                              <dd class="blurb-data">{{ profileUser.createdAt | date:'short' }}</dd>
                            </dl>
                          </div>
                          <div class="member-header-blurb">
                            <dl class="activity-pairs">
                              <dt class="blurb-data">Last activity: </dt>
                              <dd class="blurb-data">{{profileUser.lastActivity | date:'short'}}</dd>
                            </dl>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="member-header-content">
                    <div class="member-header-stats">
                      <div class="pairs-justified">
                        <dl class="stats-pairs">
                          <dt>Posts</dt>
                          <dd>
                            <a href="">{{ profileUser.postCount }}</a>
                          </dd>
                        </dl>
                        <dl class="stats-pairs">
                          <dt>Comments</dt>
                          <dd>
                            <a href="">{{ profileUser.commentCount }}</a>
                          </dd>
                        </dl>
                        <dl class="stats-pairs"></dl>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- material table with user comments and posts here -->
          <div class="wrapper">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">

    <div class="article-container" *ngFor="let post of posts; let i = index">
      <article class="message-outer">
        <span class="anchorTarget"></span>
        <div class="message-inner">
          <div class="message-cell message-cell-user">
            <section class="message-user">
              <div class="message-avatar">
                <div class="message-avatar-wrapper">
                  <a href="">
                    <img class="user-avatar" src="{{ post.user.imageUrl }}" alt="">
                  </a>
                </div>
              </div>
              <div class="user-details-wrapper">
                <div class="userDetails"></div>
                <div class="userExtras"></div>
              </div>
            </section>
          </div>
          <div class="message-cell message-cell-main">
            <div class="message-main">
              <div class="message-content">
                <a class="post-link" (click)="getCategoryIdAndNavigateToComments(post.id);" [innerHtml]='post.subject'></a>
                <!-- (click)="incrementViewCount(this.categoryId, post.id);" -->
              </div>
              <div class="message-content-details">
                <div class="message-user-details">
                  <div>
                    <p class="p-content">{{ post.user.username }}</p>
                  </div>
                  <div>
                    <p class="p-content"><span style="margin-left: 5px; margin-right: 5px;">&#183;</span> {{ post.createdAt | date:'shortDate' }} at {{ post.createdAt | date:'shortTime' }}</p>
                  </div>
                </div>
                <div class="message-metadetails">
                  <div class="view-count">
                    <mat-icon class="mat-icons">visibility</mat-icon>
                    <p class="p-content">{{ post.viewCount }}</p>
                  </div>
                  <div class="comment-count">
                    <mat-icon class="mat-icons" style="margin-left: 8px;">chat_bubble</mat-icon>
                    <p class="p-content">{{ post.comments.length + 1}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="latest-comment-details" *ngFor="let comment of post.comments; let i = index;">
            <div *ngIf="i === post.comments.length - 1 && post.comments.length >= 1" class="latest-comment-date">{{ comment.createdAt | date:'shortDate' }} at {{ comment.createdAt | date:'shortTime' }}</div>
            <div *ngIf="i === post.comments.length - 1 && post.comments.length >= 1" class="latest-comment-user">{{ comment.user.username }}</div>
            <div *ngIf="post.comments.length < 1" class="latest-comment-date">{{ post.createdAt | date:'shortDate' }} at {{ post.createdAt | date:'shortTime' }}</div>
            <div *ngIf="post.comments.length < 1" class="latest-comment-date">{{ post.user.username }}</div>
          </div>
          <div class="latest-comment-details" *ngIf="post.comments.length < 1">
            <div class="latest-comment-date">{{ post.createdAt | date:'shortDate' }} at {{ post.createdAt | date:'shortTime' }}</div>
            <div class="latest-comment-date">{{ post.user.username }}</div>
          </div>
        </div>
      </article>
    </div>

  </div>

<div class="breadcrumb-outer-bottom">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" [routerLink]="['/users/' + profileUser.id]">{{profileUser.username}}'s Profile</li>
    </ol>
  </div>
</div>
