<div class="breadcrumb-outer">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 1">Gaming Forum</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 2">Gaming Hangouts</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 3">Lore Forum</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 4">Lore Hangouts</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 5">Announcements</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 6">The Vault</li>
    </ol>
  </div>
</div>

<div class="p-body">
  <div class="p-body-inner">
    <div class="p-body-main">
      <div class="block">

      </div>
      <ul class="user-comments">

      </ul>
    </div>
  </div>
</div>

<div class="breadcrumb-outer-bottom">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 1">Gaming Forum</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 2">Gaming Hangouts</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 3">Lore Forum</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 4">Lore Hangouts</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 5">Announcements</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 6">The Vault</li>
    </ol>
  </div>
</div>
