<div class="breadcrumb-outer">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" [routerLink]="['/users/' + profileUser.id]">{{profileUser.username}}'s Profile</li>
    </ol>
  </div>
</div>

<div class="p-body">
  <div class="p-body-inner">
    <div class="p-body-main">
      <div class="p-body-content">
        <div class="p-body-pageContent">
          <div class="block">
            <div class="block-container">
              <div class="block-body">
                <div class="member-header">
                  <div class="member-banner" style="background-image: url({{profileUser.bannerImage}}); background-position-y: 32%; background-size: 100% auto;">
                    <div class="member-main-content">
                      <span class="member-avatar">
                        <span class="avatar-wrapper">
                          <a class="avatar-url"><img class="avatar" src="{{profileUser.imageUrl}}" alt=""></a>
                        </span>
                      </span>
                      <div class="memberHeader-content">
                        <div class="memberHeader-action">
                          <div class="button-group">
                            <button mat-raised-button color="primary">Edit</button>
                          </div>
                        </div>
                        <h1 class="member-header-name">
                          <span class="name-wrapper">
                            <span class="username">{{profileUser.username}}</span>
                          </span>
                        </h1>
                        <div class="member-header-blurbContainer">
                          <div class="member-header-blurb">
                            <span>Lore Hunter Member</span>
                          </div>
                          <div class="member-header-blurb">
                            <dl class="activity-pairs">
                              <dt>Joined: </dt>
                              <dd>{{profileUser.createdAt | date:'short'}}</dd>
                            </dl>
                          </div>
                          <div class="member-header-blurb">
                            <dl class="activity-pairs">
                              <dt>Last activity: </dt>
                              <dd>{{profileUser.lastActivity | date:'short'}}</dd>
                            </dl>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="member-header-content">
                    <div class="member-header-stats">
                      <div class="pairs-justified">
                        <dl class="stats-pairs">
                          <dt>Posts</dt>
                          <dd>
                            <a href="">{{profileUser.postCount}}</a>
                          </dd>
                        </dl>
                        <dl class="stats-pairs">
                          <dt>Comments</dt>
                          <dd>
                            <a href="">{{profileUser.commentCount}}</a>
                          </dd>
                        </dl>
                        <dl class="stats-pairs"></dl>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- material table with user comments and posts here -->
          <div class="wrapper">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="breadcrumb-outer-bottom">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" [routerLink]="['/users/' + profileUser.id]">{{profileUser.username}}'s Profile</li>
    </ol>
  </div>
</div>
