/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
html, body {
  margin: 0 auto;
  height: 100%;
}

body {
  --text-color: #222;
  --bkg-color: #f9f9f9;
  --container-bkg-color: #ffffff;
  --btn-txt-color: white;
  --btn-bg-color: rgb(11, 88, 160);
  --icon-color: #58595b;
  --border-style: 0.25px solid #fff;
  --box-shadow-style: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  --table-row-color-odd: #ffffff;
  --table-row-color-even: #f9f9fb;
  --table-filter-row: #f1f0f1;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #1c1b1b;
  --container-bkg-color: #2a2a2c;
  --btn-txt-color: rgb(46, 43, 43);
  --btn-bg-color: rgb(20, 211, 195);
  --icon-color: #58595b;
  --border-style: 0.25px solid #fff;
  --box-shadow-style: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  --table-row-color-odd: #2a2a2c;
  --table-row-color-even: #2f2f31;
  --table-filter-row: #343436;
}

body {
  background: var(--bkg-color);
}

mat-side-nav {
  background: var(--bkg-color);
}

button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: var(--btn-txt-color);
  background-color: var(--btn-bg-color);
}

.card-text {
  color: #FFFFFF !important;
}




