<main>
  <div class="main-body">
    <div class="mat-col-6">
      <mat-card class="mat-elevation-z4" [routerLink]="['/user-list']">
        <mat-card-header>
          <mat-card-title>Users</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="mat-row"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="mat-col-6">
      <mat-card class="mat-elevation-z4" [routerLink]="['/post-list']">
        <mat-card-header>
          <mat-card-title>Posts</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="mat-row"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="mat-col-6">
      <mat-card class="mat-elevation-z4" [routerLink]="['/comment-list']">
        <mat-card-header>
          <mat-card-title>Comments</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="mat-row"></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="mat-col-6">
      <mat-card class="mat-elevation-z4" [routerLink]="['/tickets']">
        <mat-card-header>
          <mat-card-title>Tickets</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="mat-row"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>
