mat-nav-list {
  padding: 0;
  margin: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  color: var(--text-color);
}

a.mat-list-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a.mat-list-item:hover {
  background-color: var(--container-bkg-color);
  color: var(--text-color);

}

mat-icon {
  margin-right: 8px;
  color: var(--text-color);

}

span {
  color: var(--text-color);

}
