.wrapper {
  display: flex;
  justify-content: space-between;
}

.played-body {
  display: flex;
  flex-direction: column;
}

.playing-body {
  display: flex;
  flex-direction: column;
}

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  display: inline-block;
  content: "\2605"; /* Unicode character for a star */
}

.rating > .half:before {
  content: "\2605";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}
