<div class="wrapper">
  <div class="played-body">
    <div>
      <h1>Played:</h1>
    </div>
    <ng-container *ngFor="let userGame of userGamesPlayed$ | async">
      <div>
        {{ userGame.game.title }}
        <fieldset class="rating">
          <input type="radio" [id]="'star5-' + userGame.id" name="rating" [value]="ratings[5]" [checked]="userGame.rating === ratings[5]" /><label class="full" [for]="'star5-' + userGame.id" title="Awesome - 5 stars"></label>
          <input type="radio" [id]="'star4half-' + userGame.id" name="rating" [value]="ratings[4]" [checked]="userGame.rating === ratings[4]" /><label class="half" [for]="'star4half-' + userGame.id" title="Pretty good - 4.5 stars"></label>
          <input type="radio" [id]="'star4-' + userGame.id" name="rating" [value]="ratings[3]" [checked]="userGame.rating === ratings[3]" /><label class="full" [for]="'star4-' + userGame.id" title="Pretty good - 4 stars"></label>
          <input type="radio" [id]="'star3half-' + userGame.id" name="rating" [value]="ratings[2]" [checked]="userGame.rating === ratings[2]" /><label class="half" [for]="'star3half-' + userGame.id" title="Meh - 3.5 stars"></label>
          <input type="radio" [id]="'star3-' + userGame.id" name="rating" [value]="ratings[1]" [checked]="userGame.rating === ratings[1]" /><label class="full" [for]="'star3-' + userGame.id" title="Meh - 3 stars"></label>
          <input type="radio" [id]="'star2half-' + userGame.id" name="rating" [value]="ratings[0]" [checked]="userGame.rating === ratings[0]" /><label class="half" [for]="'star2half-' + userGame.id" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" [id]="'star2-' + userGame.id" name="rating" [value]="ratings[11]" [checked]="userGame.rating === ratings[11]" /><label class="full" [for]="'star2-' + userGame.id" title="Kinda bad - 2 stars"></label>
          <input type="radio" [id]="'star1half-' + userGame.id" name="rating" [value]="ratings[10]" [checked]="userGame.rating === ratings[10]" /><label class="half" [for]="'star1half-' + userGame.id" title="Meh - 1.5 stars"></label>
          <input type="radio" [id]="'star1-' + userGame.id" name="rating" [value]="ratings[9]" [checked]="userGame.rating === ratings[9]" /><label class="full" [for]="'star1-' + userGame.id" title="Sucks big time - 1 star"></label>
          <input type="radio" [id]="'starhalf-' + userGame.id" name="rating" [value]="ratings[8]" [checked]="userGame.rating === ratings[8]" /><label class="half" [for]="'starhalf-' + userGame.id" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
      </div>
    </ng-container>
  </div>

  <div class="playing-body">
    <div>
      <h1>Playing:</h1>
    </div>
    <ng-container *ngFor="let userGame of userGamesPlaying$ | async">
      <div>
        {{ userGame.game.title }}
        <fieldset class="rating">
          <input type="radio" [id]="'star5-' + userGame.id" name="rating" [value]="ratings[5]" [checked]="userGame.rating === ratings[5]" /><label class="full" [for]="'star5-' + userGame.id" title="Awesome - 5 stars"></label>
          <input type="radio" [id]="'star4half-' + userGame.id" name="rating" [value]="ratings[4]" [checked]="userGame.rating === ratings[4]" /><label class="half" [for]="'star4half-' + userGame.id" title="Pretty good - 4.5 stars"></label>
          <input type="radio" [id]="'star4-' + userGame.id" name="rating" [value]="ratings[3]" [checked]="userGame.rating === ratings[3]" /><label class="full" [for]="'star4-' + userGame.id" title="Pretty good - 4 stars"></label>
          <input type="radio" [id]="'star3half-' + userGame.id" name="rating" [value]="ratings[2]" [checked]="userGame.rating === ratings[2]" /><label class="half" [for]="'star3half-' + userGame.id" title="Meh - 3.5 stars"></label>
          <input type="radio" [id]="'star3-' + userGame.id" name="rating" [value]="ratings[1]" [checked]="userGame.rating === ratings[1]" /><label class="full" [for]="'star3-' + userGame.id" title="Meh - 3 stars"></label>
          <input type="radio" [id]="'star2half-' + userGame.id" name="rating" [value]="ratings[0]" [checked]="userGame.rating === ratings[0]" /><label class="half" [for]="'star2half-' + userGame.id" title="Kinda bad - 2.5 stars"></label>
          <input type="radio" [id]="'star2-' + userGame.id" name="rating" [value]="ratings[11]" [checked]="userGame.rating === ratings[11]" /><label class="full" [for]="'star2-' + userGame.id" title="Kinda bad - 2 stars"></label>
          <input type="radio" [id]="'star1half-' + userGame.id" name="rating" [value]="ratings[10]" [checked]="userGame.rating === ratings[10]" /><label class="half" [for]="'star1half-' + userGame.id" title="Meh - 1.5 stars"></label>
          <input type="radio" [id]="'star1-' + userGame.id" name="rating" [value]="ratings[9]" [checked]="userGame.rating === ratings[9]" /><label class="full" [for]="'star1-' + userGame.id" title="Sucks big time - 1 star"></label>
          <input type="radio" [id]="'starhalf-' + userGame.id" name="rating" [value]="ratings[8]" [checked]="userGame.rating === ratings[8]" /><label class="half" [for]="'starhalf-' + userGame.id" title="Sucks big time - 0.5 stars"></label>
        </fieldset>
      </div>
    </ng-container>
  </div>
</div>
