.wrapper {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}

.played-body {
  display: flex;
  flex-direction: column;
}

.playing-body {
  display: flex;
  flex-direction: column;
}

.star-rating .star.full {
  font-size: 20px;
  color: #ffd700; /* Default star color */
}

.star-rating .star.half {
  font-size: 20px;
  color: #ffd700; /* Default star color */
}

.star-rating .star {
  display: inline-block;
}

.star-rating .star.full {
  background-position: 0 0; /* Filled star icon */
}

.star-rating .star.half {
  background-position: 0 -20px; /* Half-filled star icon */
}

.star-rating .star.grey_full {
  color: grey; /* Grey star color */
}

.star-rating .star.grey_half {
  color: grey; /* Grey star color */
}




