<!-- <div class="wrapper">
  <div class="played-body">
    <div>
      <h1>Played:</h1>
    </div>
    <ng-container *ngFor="let userGame of userGamesPlayed$ | async">
      <div>
        {{ userGame.game.title }}
        <div class="star-rating">
          <span *ngFor="let star of generateStarArray(userGame.rating)" class="star" [class.full]="star === 'full'" [class.half]="star === 'half'" [innerHTML]="getStarSymbol(star)"></span>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="playing-body">
    <div>
      <h1>Playing:</h1>
    </div>
    <ng-container *ngFor="let userGame of userGamesPlaying$ | async">
      <div>
        {{ userGame.game.title }}
        <div class="star-rating">
          <span *ngFor="let star of generateStarArray(userGame.rating)" class="star" [class.full]="star === 'full'" [class.half]="star === 'half'" [innerHTML]="getStarSymbol(star)"></span>
        </div>
      </div>
    </ng-container>
  </div>
</div> -->
<div class="wrapper">
  <div class="p-body played-body">
    <div>
      <h1>Played:</h1>
    </div>
    <div class="row item-grid2" *ngIf="(userGamesPlayed$ | async)?.length">
      <div class="card item-card" *ngFor="let userGame of userGamesPlayed$ | async">
        <div class="item-card-image">
          <img class="game-image" [style.background-image]="'url(' + userGame.game.backgroundImage + ')'" [style.background-position]="'center top'" loading="lazy">
        </div>
        <div class="item-card-details">
          <div class="item-card-footer">
            <div title="Metascore" class="metascore-label metascore-label_green">
                <div>
                  <div class="star-rating">
                    <span *ngFor="let star of generateStarArray(userGame.rating)" class="star" [class.full]="star === 'full'" [class.half]="star === 'half'" [innerHTML]="getStarSymbol(star)"></span>
                  </div>
                </div>
            </div>
          </div>
          <h3 class="item-card-title">{{ userGame.game.title }}</h3>
          <p class="item-card-description">Description: {{ userGame.game.description }}</p>
          <p class="item-card-description">Review: {{ userGame.review }}</p>
          <p class="item-card-description" style="display: flex; align-items: self-end;">Recommended? <span style="margin-left: 10px;"><img class="recommended-thumb" src="{{ userGame.isRecommended ? 'https://store.akamai.steamstatic.com/public/shared/images/userreviews/icon_thumbsUp_v6.png' : 'https://store.akamai.steamstatic.com/public/shared/images/userreviews/icon_thumbsDown_v6.png' }}" alt=""></span></p>
          <p class="item-card-description">Playtime: {{ userGame.playtime }} hours</p>

          <!-- <p class="item-card-description">Playtime: {{ userGame.playtime }} hours</p> -->

        </div>
      </div>

    </div>
    <div *ngIf="!(userGamesPlayed$ | async)?.length">
      <h3>No previously games listed</h3>
    </div>
  </div>
  <div class="p-body playing-body">
    <div>
      <h1>Playing:</h1>
    </div>
    <div class="row item-grid2" *ngIf="(userGamesPlaying$ | async)?.length">
      <div class="card item-card" *ngFor="let userGame of userGamesPlaying$ | async">
        <div class="item-card-image">
          <img class="game-image" [style.background-image]="'url(' + userGame.game.backgroundImage + ')'" [style.background-position]="'center top'" loading="lazy">
        </div>
        <div class="item-card-details">
          <div class="item-card-footer">
            <div title="Metascore" class="metascore-label metascore-label_green">
                <div>
                  <div class="star-rating">
                    <span *ngFor="let star of generateStarArray(userGame.rating)" class="star" [class.full]="star === 'full'" [class.half]="star === 'half'" [innerHTML]="getStarSymbol(star)"></span>
                  </div>
                </div>
            </div>
          </div>
          <h3 class="item-card-title">{{ userGame.game.title }}</h3>
          <p class="item-card-description">Released: {{ userGame.game.description }}</p>
          <p class="item-card-description">Review: {{ userGame.review }}</p>
          <p class="item-card-description">Recommended? {{ userGame.isRecommended ? "yes" : "no" }}</p>
          <p class="item-card-description">Playtime: {{ userGame.playtime }} hours</p>

          <!-- <p class="item-card-description">Playtime: {{ userGame.playtime }} hours</p> -->

        </div>
      </div>

    </div>
    <div *ngIf="!(userGamesPlaying$ | async)?.length">
      <h3>Not currently playing any games</h3>
    </div>
  </div>
</div>
