<!-- <div class="forum_footer_wrap">
	<div class="forum_ledgend_wrap">
	<h1>Legend</h1>
	<p><i class="material-icons">chat_bubble</i> Topic with unread posts</p>
	<p><i class="material-icons">chat_bubble_outline</i> Topic with no new posts</p>
	</div>
</div> -->


<div class="container-fluid card">
  <div class="card-gaming" *ngIf="categoryId === 1">
    <div class="node-container">
      <div class="node-title-container">
        <div class="card-title">
          <div class="title" *ngFor="let category of categories; let i = index">
            <a *ngIf="i === categoryId - 1" class="light-link"><h3 class="subject">{{ category.name }}</h3></a>
          </div>
          <div class="description" *ngFor="let category of categories; let i = index">
            <p *ngIf="i === categoryId - 1" class="cat-description">{{ category.description }}</p>
          </div>
          <div class="meta-details">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-gaming-hangouts" *ngIf="categoryId === 2">
    <div class="node-container">
      <div class="node-title-container">
        <div class="card-title">
          <div class="title" *ngFor="let category of categories; let i = index">
            <a *ngIf="i === categoryId - 1" class="light-link"><h3 class="subject">{{ category.name }}</h3></a>
          </div>
          <div class="description" *ngFor="let category of categories; let i = index">
            <p *ngIf="i === categoryId - 1" class="cat-description">{{ category.description }}</p>
          </div>
          <div class="meta-details">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-lore" *ngIf="categoryId === 3">
    <div class="node-container">
      <div class="node-title-container">
        <div class="card-title">
          <div class="title" *ngFor="let category of categories; let i = index">
            <a *ngIf="i === categoryId - 1" class="light-link"><h3 class="subject">{{ category.name }}</h3></a>
          </div>
          <div class="description" *ngFor="let category of categories; let i = index">
            <p *ngIf="i === categoryId - 1" class="cat-description">{{ category.description }}</p>
          </div>
          <div class="meta-details">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-lore-hangouts" *ngIf="categoryId === 4">
    <div class="node-container">
      <div class="node-title-container">
        <div class="card-title">
          <div class="title" *ngFor="let category of categories; let i = index">
            <a *ngIf="i === categoryId - 1" class="light-link"><h3 class="subject">{{ category.name }}</h3></a>
          </div>
          <div class="description" *ngFor="let category of categories; let i = index">
            <p *ngIf="i === categoryId - 1" class="cat-description">{{ category.description }}</p>
          </div>
          <div class="meta-details">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-announcements" *ngIf="categoryId === 5">
    <div class="node-container">
      <div class="node-title-container">
        <div class="card-title">
          <div class="title" *ngFor="let category of categories; let i = index">
            <a *ngIf="i === categoryId - 1" class="light-link"><h3 class="subject">{{ category.name }}</h3></a>
          </div>
          <div class="description" *ngFor="let category of categories; let i = index">
            <p *ngIf="i === categoryId - 1" class="cat-description">{{ category.description }}</p>
          </div>
          <div class="meta-details">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-vault" *ngIf="categoryId === 6">
    <div class="node-container">
      <div class="node-title-container">
        <div class="card-title">
          <div class="title" *ngFor="let category of categories; let i = index">
            <a *ngIf="i === categoryId - 1" class="light-link"><h3 class="subject">{{ category.name }}</h3></a>
          </div>
          <div class="description" *ngFor="let category of categories; let i = index">
            <p *ngIf="i === categoryId - 1" class="cat-description">{{ category.description }}</p>
          </div>
          <div class="meta-details">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="breadcrumb-outer">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 1" [routerLink]="['/home']">Gaming Forum</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 2" [routerLink]="['/home']">Gaming Hangouts</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 3" [routerLink]="['/home']">Lore Forum</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 4" [routerLink]="['/home']">Lore Hangouts</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 5" [routerLink]="['/home']">Announcements</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 6" [routerLink]="['/home']">The Vault</li>
    </ol>
  </div>
</div>

<!-- <div class="wrapper">

	<table class="main-table">
      <th *ngIf="categoryId === 1" class="forum-topicsview-header" style="text-align: center;" colspan="5"> Gaming Forum </th>
      <th *ngIf="categoryId === 2" class="forum-topicsview-header" style="text-align: center;" colspan="5"> Gaming Hangouts </th>
      <th *ngIf="categoryId === 3" class="forum-topicsview-header" style="text-align: center;" colspan="5"> Lore Forum </th>
      <th *ngIf="categoryId === 4" class="forum-topicsview-header" style="text-align: center;" colspan="5"> Lore Hangouts </th>
      <th *ngIf="categoryId === 5" class="forum-topicsview-header" style="text-align: center;" colspan="5"> Announcements </th>
      <th *ngIf="categoryId === 6" class="forum-topicsview-header" style="text-align: center;" colspan="5"> The Vault </th>
		<tr class="header-row">
			<th class="header-row"> </th>
			<th class="header-row" style="text-align: left;"> Topics </th>
			<th class="header-row forum-topics-col-views"> Comments </th>
			<th class="header-row forum-topics-col-views"> Views </th>
			<th class="header-row forum-topics-col-lastpost"> Last Post </th>
		</tr>
      <tr class="forum-topicview-row"  *ngFor="let post of posts">
        <td *ngIf="categoryId" class="forum-topics-col-icon"> <img style="margin-right: 20px; margin-left: 20px;" src="{{post.user.imageUrl}}" class="avatar"> </td>
        <td *ngIf="categoryId" class="" style="text-align: left;"> <a href="#"><p> {{post.subject}} </p></a> </td>
        <td *ngIf="categoryId" class="forum-topics-col-views"> <dl class="pairs"><dt class="dt-icon"><mat-icon class="material-icons">forum</mat-icon></dt><dd>{{post.viewCount}}</dd> </dl></td>
        <td *ngIf="categoryId" class="forum-topics-col-views"> <dl class="pairs"><dt class="dt-icon"><mat-icon class="material-icons">visibility_outline</mat-icon></dt><dd>5</dd> </dl></td>
        <td *ngIf="categoryId" class="forum-topics-col-lastpost"> <p>Last Post by: {{post.user.username}}<br><b> {{post.createdAt | date : "shortDate"}} </b></p> </td>
      </tr>
	</table>

</div> -->

<div class="wrapper">

	<table mat-table class="main-table" *ngFor="let post of posts">
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef class="header-row"> User </th>
        <td mat-cell *ngIf="categoryId" class="forum-topics-col-icon">
          <div style="display: flex; flex-direction: column; justify-content: space-between;">
            <div style="margin-bottom: 5px;">
              <img style="margin-right: 20px; margin-left: 20px;" src="{{post.user.imageUrl}}" class="avatar">
            </div>
            <div style="display: flex; justify-content: center;">
              <div>
                <p style="vertical-align: middle;">{{post.user.username}}</p>
              </div>
            </div>
          </div>
        </td>
      </ng-container>


    <ng-container matColumnDef="topics">
      <th mat-header-cell *matHeaderCellDef class="header-row" style="text-align: left;"> Topics </th>
      <td mat-cell *ngIf="categoryId" class="topic" style="text-align: left;"> <a href="#"><p style="color: #58595b;"> {{post.subject}} </p></a> </td>
    </ng-container>

    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef class="header-row forum-topics-col-views"> Comments </th>
      <td mat-cell *ngIf="categoryId" class="forum-topics-col-views comment"> <dl class="pairs" style="color: #9e9fa2;"><dt class="dt-icon"><mat-icon class="material-icons">forum</mat-icon></dt><dd>{{post.viewCount}}</dd> </dl></td>
    </ng-container>

    <ng-container matColumnDef="views">
      <th mat-header-cell *matHeaderCellDef class="header-row forum-topics-col-views"> Views </th>
      <td mat-cell *ngIf="categoryId" class="forum-topics-col-views view"> <dl class="pairs" style="color: #9e9fa2;"><dt class="dt-icon"><mat-icon class="material-icons">visibility_outline</mat-icon></dt><dd>5</dd> </dl></td>
    </ng-container>

    <ng-container matColumnDef="last post">
      <th mat-header-cell *matHeaderCellDef class="header-row forum-topics-col-lastpost"> Last Post </th>
      <td mat-cell *ngIf="categoryId" class="forum-topics-col-lastpost last-post"> <p style="color: #9e9fa2;">Last Post by: {{post.user.username}}<br> <span>{{post.createdAt | date : "short"}}</span> </p> </td>
    </ng-container>

	</table>

</div>


<div class="breadcrumb-outer-bottom">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 1" [routerLink]="['/home']">Gaming Forum</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 2" [routerLink]="['/home']">Gaming Hangouts</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 3" [routerLink]="['/home']">Lore Forum</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 4" [routerLink]="['/home']">Lore Hangouts</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 5" [routerLink]="['/home']">Announcements</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 6" [routerLink]="['/home']">The Vault</li>
    </ol>
  </div>
</div>
