<div class="container-fluid card">
  <div class="card-gaming" *ngIf="categoryId === 1">
    <div class="node-container">
      <div class="node-title-container">
        <div class="card-title">
          <div class="title" *ngFor="let post of posts; let i = index">
            <a *ngIf="post.id === this.postId" class="light-link"><h3 class="subject">{{ post.subject }}</h3></a>
          </div>
          <div class="description" *ngFor="let post of posts; let i = index">
            <ul *ngIf="post.id === this.postId" class="cat-description listInline">
              <li>
                <mat-icon class="top-icon">person</mat-icon>
                <a href="">{{ post.user.username }}</a>
              </li>
              <li>
                <span style="margin-left: 5px; margin-right: 5px;">&#183;</span>
                <mat-icon class="top-icon">access_time_filled</mat-icon>
                <a href="">{{ post.createdAt | date:'shortDate' }}</a>
              </li>
            </ul>
          </div>
          <div class="meta-details">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-gaming-hangouts" *ngIf="categoryId === 2">
    <div class="node-container">
      <div class="node-title-container">
        <div class="card-title">
          <div class="title" *ngFor="let post of posts; let i = index">
            <a *ngIf="post.id === this.postId" class="light-link"><h3 class="subject">{{ post.subject }}</h3></a>
          </div>
          <div class="description" *ngFor="let post of posts; let i = index">
            <ul *ngIf="post.id === this.postId" class="cat-description listInline">
              <li>
                <mat-icon class="top-icon">person</mat-icon>
                <a href="">{{ post.user.username }}</a>
              </li>
              <li>
                <span style="margin-left: 5px; margin-right: 5px;">&#183;</span>
                <mat-icon class="top-icon">access_time_filled</mat-icon>
                <a href="">{{ post.createdAt | date:'shortDate' }}</a>
              </li>
            </ul>
          </div>
          <div class="meta-details">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-lore" *ngIf="categoryId === 3">
    <div class="node-container">
      <div class="node-title-container">
        <div class="card-title">
          <div class="title" *ngFor="let post of posts; let i = index">
            <a *ngIf="post.id === this.postId" class="light-link"><h3 class="subject">{{ post.subject }}</h3></a>
          </div>
          <div class="description" *ngFor="let post of posts; let i = index">
            <ul *ngIf="post.id === this.postId" class="cat-description listInline">
              <li>
                <mat-icon class="top-icon">person</mat-icon>
                <a href="">{{ post.user.username }}</a>
              </li>
              <li>
                <span style="margin-left: 5px; margin-right: 5px;">&#183;</span>
                <mat-icon class="top-icon">access_time_filled</mat-icon>
                <a href="">{{ post.createdAt | date:'shortDate' }}</a>
              </li>
            </ul>
          </div>
          <div class="meta-details">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-lore-hangouts" *ngIf="categoryId === 4">
    <div class="node-container">
      <div class="node-title-container">
        <div class="card-title">
          <div class="title" *ngFor="let post of posts; let i = index">
            <a *ngIf="post.id === this.postId" class="light-link"><h3 class="subject">{{ post.subject }}</h3></a>
          </div>
          <div class="description" *ngFor="let post of posts; let i = index">
            <ul *ngIf="post.id === this.postId" class="cat-description listInline">
              <li>
                <mat-icon class="top-icon">person</mat-icon>
                <a href="">{{ post.user.username }}</a>
              </li>
              <li>
                <span style="margin-left: 5px; margin-right: 5px;">&#183;</span>
                <mat-icon class="top-icon">access_time_filled</mat-icon>
                <a href="">{{ post.createdAt | date:'shortDate' }}</a>
              </li>
            </ul>
          </div>
          <div class="meta-details">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-announcements" *ngIf="categoryId === 5">
    <div class="node-container">
      <div class="node-title-container">
        <div class="card-title">
          <div class="title" *ngFor="let post of posts; let i = index">
            <a *ngIf="post.id === this.postId" class="light-link"><h3 class="subject">{{ post.subject }}</h3></a>
          </div>
          <div class="description" *ngFor="let post of posts; let i = index">
            <ul *ngIf="post.id === this.postId" class="cat-description listInline">
              <li>
                <mat-icon class="top-icon">person</mat-icon>
                <a href="">{{ post.user.username }}</a>
              </li>
              <li>
                <span style="margin-left: 5px; margin-right: 5px;">&#183;</span>
                <mat-icon class="top-icon">access_time_filled</mat-icon>
                <a href="">{{ post.createdAt | date:'shortDate' }}</a>
              </li>
            </ul>
          </div>
          <div class="meta-details">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-vault" *ngIf="categoryId === 6">
    <div class="node-container">
      <div class="node-title-container">
        <div class="card-title">
          <div class="title" *ngFor="let post of posts; let i = index">
            <a *ngIf="post.id === this.postId" class="light-link"><h3 class="subject">{{ post.subject }}</h3></a>
          </div>
          <div class="description" *ngFor="let post of posts; let i = index">
            <ul *ngIf="post.id === this.postId" class="cat-description listInline">
              <li>
                <mat-icon class="top-icon">person</mat-icon>
                <a href="">{{ post.user.username }}</a>
              </li>
              <li>
                <span style="margin-left: 5px; margin-right: 5px;">&#183;</span>
                <mat-icon class="top-icon">access_time_filled</mat-icon>
                <a href="">{{ post.createdAt | date:'shortDate' }}</a>
              </li>
            </ul>
          </div>
          <div class="meta-details">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="breadcrumb-outer">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 1" [routerLink]="['/categories', categoryId, 'posts']">Gaming Forum</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 2" [routerLink]="['/categories', categoryId, 'posts']">Gaming Hangouts</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 3" [routerLink]="['/categories', categoryId, 'posts']">Lore Forum</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 4" [routerLink]="['/categories', categoryId, 'posts']">Lore Hangouts</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 5" [routerLink]="['/categories', categoryId, 'posts']">Announcements</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 6" [routerLink]="['/categories', categoryId, 'posts']">The Vault</li>
    </ol>
  </div>
</div>

<!-- <div class="op-block" *ngFor="let post of posts">
  <div class="op-block-inner">
    <div *ngIf="this.post.id === postId">
      <div class="op-user">
        <div class="avatar-container">
          <img class="avatar" src="{{ post.user.imageUrl }}" alt="">
        </div>
      </div>
    </div>
    <div *ngIf="this.post.id === postId" class="op-post-content">
      <div class="op-post">
        <div class="op-subject">
          <h3 class="post-title">{{post.subject}}</h3>
        </div>
        <div class="op-content">
          <p [innerHtml]="post.content">{{post.content}}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="wrapper">
    <div *ngFor="let post of posts; let i = index">
      <article *ngIf="post.id === this.postId" class="message-outer">
        <span class="anchorTarget"></span>
        <div class="message-inner">
          <div class="message-cell message-cell-user">
            <section class="message-user">
              <div class="message-avatar">
                <div class="message-avatar-wrapper">
                  <a href="" class="avatar avatar--l">
                    <img class="user-avatar" src="{{ post.user.imageUrl }}" alt="">
                  </a>
                </div>
              </div>
              <div class="user-details-wrapper">
                <div class="userDetails">
                  <h4 class="message-name">
                    <a href="username">{{ post.user.username }}</a>
                  </h4>
                  <h5 class="userTitle message-userTitle" style="margin-bottom: 5px;">{{ post.user.bannerMessage }}</h5>
                  <h5 class="userTitle message-userTitle member-status" *ngIf="post.user.status === 'active'">Member</h5>
                </div>
                <div class="userExtras">
                  <dl class="pairs pairs--justified">
                    <dt></dt>
                    <dd>
                      <ol class="listInline listInline--customField">
                        <li></li>
                      </ol>
                    </dd>
                  </dl>
                </div>
              </div>
            </section>
          </div>
          <div class="message-cell message-cell-main">
            <div class="message-main">
              <header class="message-attribution">
                <ul class="message-attribution-main">
                  <li class="u-concealed">
                    <a href="">
                      <time class="u-dt">{{ post.createdAt | date:'shortDate' }} at {{ post.createdAt | date:'shortTime' }}</time>
                    </a>
                  </li>
                </ul>
                <ul class="message-attribution-opposite">
                  <li>
                    <a href="" class="message-attribution-gadget">
                      <mat-icon id="post-share-icon" class="mat-18">share</mat-icon>
                    </a>
                  </li>
                  <li>
                    <a href="" class="message-attribution-gadget">
                      <mat-icon id="post-bookmark-icon" class="mat-18">bookmark_border</mat-icon>
                    </a>
                  </li>
                  <li>
                    <a href="" class="message-attribution-gadget">
                      <i>#{{i -i + 1}}</i>
                    </a>
                  </li>
                </ul>
              </header>
              <div class="message-content">
                <div class="message-userContent">
                  <article class="message-body" [innerHtml]='post.content | noSanitize'></article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div *ngFor="let comment of comments$ | async; let i = index;">
      <article class="message-outer">
        <span class="anchorTarget"></span>
        <div class="message-inner">
          <div class="message-cell message-cell-user">
            <section class="message-user">
              <div class="message-avatar">
                <div class="message-avatar-wrapper">
                  <a href="" class="avatar avatar--l">
                    <img class="user-avatar" src="{{ comment.user.imageUrl }}" alt="">
                  </a>
                </div>
              </div>
              <div class="user-details-wrapper">
                <div class="userDetails">
                  <h4 class="message-name">
                    <a href="username">{{ comment.user.username }}</a>
                  </h4>
                  <h5 class="userTitle message-userTitle" style="margin-bottom: 5px;">{{ comment.user.bannerMessage }}</h5>
                  <h5 class="userTitle message-userTitle member-status" *ngIf="comment.user.status === 'active'">Member</h5>
                </div>
                <div class="userExtras">
                  <dl class="pairs pairs--justified">
                    <dt class="message-userTitle"></dt>
                    <dd>
                      <ol class="listInline listInline--customField">
                        <li></li>
                      </ol>
                    </dd>
                  </dl>
                </div>
              </div>
            </section>
          </div>
          <div class="message-cell message-cell-main">
            <div class="message-main">
              <header class="message-attribution message-attribution--split">
                <ul class="message-attribution-main">
                  <li class="u-concealed">
                    <a href="">
                      <time class="u-dt">{{ comment.createdAt | date:'shortDate' }} at {{ comment.createdAt | date:'shortTime' }}</time>
                    </a>
                  </li>
                </ul>
                <ul class="message-attribution-opposite">
                  <li>
                    <a href="" class="message-attribution-gadget">
                      <mat-icon id="comment-share-icon" class="mat-18">share</mat-icon>
                    </a>
                  </li>
                  <li>
                    <a href="" class="message-attribution-gadget">
                      <mat-icon id="comment-bookmark-icon" class="mat-18">bookmark_border</mat-icon>
                    </a>
                  </li>
                  <li>
                    <a href="" class="message-attribution-gadget">
                      <i>#{{i + 2}}</i>
                    </a>
                  </li>
                </ul>
              </header>
              <div class="message-content">
                <div class="message-userContent">
                  <article class="message-body" [innerHtml]="comment.content | noSanitize">

                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>



</div>

<div *ngIf="loggedIn()" class="comment-block">
  <div class="comment-block-inner">
    <div class="user-block-outer">
      <div class="user-block">
        <div class="user-block-inner">
          <div class="user-avatar-container">
            <a style="cursor: pointer; padding-left: 10px;"><img class="my-avatar" [src]="loggedInUser.imageUrl" alt="" *ngIf="loggedIn()"/></a>
          </div>
          <div class="user-alias">
            <a class="user-name-text" *ngIf="loggedIn()">{{ loggedInUser.username }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="editor-outer" style="padding: 10px;">
      <div class="editor-inner" style="padding: 10px;">
          <ckeditor #ckeditorInstance name="newComment.content" [editor]="Editor" [config]="{placeholder: 'Hello, Colonel! This is Snake.', contentsCSS: ['src/app/shared/components/comments/comments.component.css']}" [formControl]="content" [(ngModel)]="newComment.content" required></ckeditor>
          <mat-error *ngIf="content.invalid && checkCkEditor">{{getErrorMessageContent()}}</mat-error>
      </div>
      <div class="submitButtonContainer" style="float: right; padding-right: 10px;">
        <button class="submitBtn" mat-stroked-button (click)="submitButtonClicked();">Submit</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!loggedIn()" style="display: flex; justify-content: center;">
  <p class="login-prompt">Log in to comment!</p>
</div>



<div class="breadcrumb-outer-bottom">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 1" [routerLink]="['/categories', categoryId, 'posts']">Gaming Forum</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 2" [routerLink]="['/categories', categoryId, 'posts']">Gaming Hangouts</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 3" [routerLink]="['/categories', categoryId, 'posts']">Lore Forum</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 4" [routerLink]="['/categories', categoryId, 'posts']">Lore Hangouts</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 5" [routerLink]="['/categories', categoryId, 'posts']">Announcements</li>
      <li class="breadcrumb-value" *ngIf="categoryId === 6" [routerLink]="['/categories', categoryId, 'posts']">The Vault</li>
    </ol>
  </div>
</div>

