<div id="wrapper">

  <!--Side nav -->

  <div class="side-panel a">
  <ul>
    <li><a><span class="entypo-plus-circled"></span></a>
      <ul>
        <li><a class="entypo-doc-text-inv">Post</a></li>
        <li><a class="entypo-layout">Template</a></li>
        <li><a class="entypo-rocket">Rocket</a></li>
      </ul>
    </li>
    <li><a><span class="entypo-mail"></span><span class="menu-item">Messages</span></a></li>
      <li><a><span class="entypo-heart"></span><span class="menu-item">Favorites</span></a></li>
      <li><a><span class="entypo-doc-text-inv"></span><span class="menu-item">Posts</span></a></li>
      <li><a><span class="entypo-layout"></span><span class="menu-item">Templates</span></a></li>
      <li><a><span class="entypo-rocket"></span><span class="menu-item">Rocket</span></a></li>
      <li><a><span class="entypo-cog"></span><span class="menu-item">Settings</span></a></li>
  </ul>
</div>




  <ul class="threadsList">



    <li class="threadItem firstPost">
      <div class="postContainer">

        <div class="answerCountContainer">
          <strong class="replyCount">2</strong>
          <div class="threadItemLabel">
            Responses
          </div>
        </div>

        <div class="avatarCoin">
          <a href="/alphonsecuccurullo" class="userAvatarLink"></a>
        </div>

        <h2 class="threadTitleHeader">
											 <a href="/community/hi-there-can-someone-help-with-my-syntax">Hi there can someone help with my syntax?</a>
										</h2>
        <p class="whenAndWho">
          <span class="lastUpdated">posted 12 minutes ago</span> by <a href="/alphonsecuccurullo">Alphonse Cuccurullo</a> <a href="/alphonsecuccurullo" class="userLinkPostCount">1,512</a>
        </p>


        <a class="expandDesc">Toggle preview...</a>
        <div class="descriptionText hiddenToggle">
          Forum URL: http://httydragonrp.proboards.com  I have a 1920x1080 pc screen people that join the forum and have a 1024x1080 screen see everything strange I want the wight of my forum
        </div>
        <br><br>


        <div>

        </div>

      </div>


    </li><!-- </thread item-->

    <li class="threadItem">
      <div class="postContainer">

        <div class="answerCountContainer">
          <strong class="replyCount">0</strong>
          <div class="threadItemLabel">
            Responses
          </div>
        </div>

        <div class="avatarCoin">
          <a href="/alphonsecuccurullo" class="userAvatarLink"></a>
        </div>

        <h2 class="threadTitleHeader">
											 <a href="/community/hi-there-can-someone-help-with-my-syntax">Broken Variables</a>
										</h2>
        <p class="whenAndWho">
          <span class="lastUpdated">posted 12 minutes ago</span> by <a href="/alphonsecuccurullo">Trinity Blair</a> <a href="/alphonsecuccurullo" class="userLinkPostCount">252</a>
        </p>


        <a class="expandDesc">Toggle preview...</a>
        <div class="descriptionText hiddenToggle">
          Forum URL: http://httydragonrp.proboards.com  I have a 1920x1080 pc screen people that join the forum and have a 1024x1080 screen see everything strange I want the wight of my forum
        </div>
        <br><br>

        <ul class="labelList">
          <li class="labelListItem">
            <a href="/community/topic:ruby" class="labelItem">Resolved</a>
          </li>
        </ul>
        <div>

        </div>

      </div>


    </li><!-- </thread item-->





  </ul>

  <!-- Pagination appears under list of threads -->
  <div class="paginationBar">
      <span class="backButton disabledButton">Prev</span> <span class="pageNumber">Page 1 of 1</span> <a rel="next" href="/community?page=2" class="forwardButton activeButton">Next</a>
    </div>
</div>
<!-- </#wrapper -->
