<h2 mat-dialog-title>Create Ticket</h2>
<mat-dialog-content>
  <form class="create-ticket-form">
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="ticket.title" name="title" required>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" [(ngModel)]="ticket.description" name="description" required></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="ticket" color="primary">Create</button>
  <button mat-button (click)="closeDialog()" color="warn">Cancel</button>
</mat-dialog-actions>
