<mat-sidenav-container>
  <div class="footer">
    <ul>
      <li><a class="light-link" href="http://twitter.com">Twitter</a></li>
      <li><a class="light-link" href="http://twitter.com">Contact Us</a></li>
      <li><a class="light-link" href="http://twitter.com">Terms and Rules</a></li>
      <li><a class="light-link" href="http://twitter.com">Privacy Policy</a></li>
      <li><a class="light-link" href="http://twitter.com">Help</a></li>
      <li><a class="light-link" href="http://twitter.com">FAQ</a></li>
    </ul>
  </div>
</mat-sidenav-container>
