/*
h4 {
  text-transform: uppercase;
} */

.footer {
  width: 100%;
  height: 2.5rem;
  background-color: rgb(64 80 181);
  color: rgb(9, 2, 24);
  text-align: center;
  position: relative;
  }

  ul {
    display: flex;
    justify-content: right;
    color: white;
  }
  li {
    list-style: none;
    margin: 5px;
    margin-right: 10vh !important;
    color: white;
  }

  li > a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .light-link {
    text-decoration: none;
    color: #ffffff;
  }

  .light-link:hover {
    text-decoration:underline;
    color: #ffffff;
  }

