<div class="breadcrumb-outer">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" [routerLink]="['/posts']">Latest Posts</li>
    </ol>
  </div>
</div>

<div class="wrapper">

<div *ngFor="let post of posts">
  <article class="message-outer">
    <span class="anchorTarget"></span>
    <div class="message-inner" style="display: flex;">
      <div class="message-cell message-cell-user">
        <section class="message-user">
          <div class="message-avatar">
            <div class="message-avatar-wrapper">
              <a href="">
                <img class="avatar" src="{{ post.user.imageUrl }}" alt="">
              </a>
            </div>
          </div>
          <div class="user-details-wrapper">
            <div class="userDetails"></div>
            <div class="userExtras"></div>
          </div>
        </section>
      </div>
      <div class="message-cell message-cell-main">
        <div class="message-main">
          <header class="message-attribution"></header>
          <div class="message-content" [innerHtml]='post.subject | noSanitize'>{{ post.subject }}</div>
        </div>
      </div>
    </div>
  </article>
</div>

</div>

<div class="breadcrumb-outer-bottom">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" [routerLink]="['/posts']">Latest Posts</li>
    </ol>
  </div>
</div>




