<div class="container-fluid title-container" style="background: var(--bkg-color) !important;">
  <h1 class="forum-list-title">Latest Posts</h1>
</div>

<div class="breadcrumb-outer">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" [routerLink]="['/posts']">Latest Posts</li>
    </ol>
  </div>
</div>

<div class="wrapper">

  <div class="block-filter-bar">
    <div class="filter-bar" style="height: 25px;">
      <button class="filter-bar-menu-trigger" mat-button [matMenuTriggerFor]="menu" style="display: flex; align-items: center;">
        <span style="flex-grow: 1;">Filters</span>
        <span class="filter-bar-icon" style="margin-left: 5px;"><mat-icon style="vertical-align: top; margin-left:-10px;">arrow_drop_down</mat-icon></span>
      </button>
    </div>
  </div>

  <div class="article-container" *ngFor="let post of posts$ | async; let i = index">
    <article class="message-outer">
      <span class="anchorTarget"></span>
      <div class="message-inner">
        <div class="message-cell message-cell-user">
          <section class="message-user">
            <div class="message-avatar">
              <div class="message-avatar-wrapper">
                <a class="user-profile-link" [routerLink]="['/users', post.user.id]">
                  <img class="user-avatar" [style.background-image]="'url(' + post.user.imageUrl + ')'" [style.background-position]="'center'">
                </a>
              </div>
            </div>
            <div class="user-details-wrapper">
              <div class="userDetails"></div>
              <div class="userExtras"></div>
            </div>
          </section>
        </div>
        <div class="message-cell message-cell-main">
          <div class="message-main">
            <div class="message-content">
              <a class="post-link" (click)="getCategoryIdAndNavigateToComments(post.id);" [innerHtml]='post.subject'></a>
              <!-- (click)="incrementViewCount(this.categoryId, post.id);" -->
            </div>
            <div class="message-content-details">
              <div class="message-user-details">
                <div>
                  <p [routerLink]="['/users', post.user.id]" class="p-content user-profile-link">{{ post.user.username }}</p>
                </div>
                <div>
                  <p class="p-content"><span style="margin-left: 5px; margin-right: 5px;">&#183;</span> {{ post.createdAt | timeAgo }}</p>
                </div>
              </div>
              <div class="message-metadetails">
                <mat-icon *ngIf="post.isTrending">trending_up</mat-icon>
                <div class="view-count">
                  <mat-icon class="mat-icons">visibility</mat-icon>
                  <p class="p-content">{{ post.viewCount }}</p>
                </div>
                <div class="comment-count">
                  <mat-icon class="mat-icons" style="margin-left: 8px;">chat_bubble</mat-icon>
                  <p class="p-content">{{ post.comments.length + 1}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="latest-comment-details" *ngFor="let comment of post.comments; let i = index;">
          <div *ngIf="i === post.comments.length - 1 && post.comments.length >= 1" class="latest-comment-date">{{ comment.createdAt | timeAgo }}</div>
          <div *ngIf="i === post.comments.length - 1 && post.comments.length >= 1" class="latest-comment-user user-profile-link" [routerLink]="['/users', comment.user.id]">{{ comment.user.username }}</div>
          <div *ngIf="post.comments.length < 1" class="latest-comment-date">{{ post.createdAt | timeAgo }}</div>
          <div *ngIf="post.comments.length < 1" class="latest-comment-date user-profile-link" [routerLink]="['/users', post.user.id]">{{ post.user.username }}</div>
        </div>
        <div class="latest-comment-details" *ngIf="post.comments.length < 1">
          <div class="latest-comment-date">{{ post.createdAt | timeAgo }}</div>
          <div class="latest-comment-date user-profile-link" [routerLink]="['/users', post.user.id]">{{ post.user.username }}</div>
        </div>
      </div>
    </article>
  </div>

</div>

<div class="breadcrumb-outer-bottom">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" [routerLink]="['/posts']">Latest Posts</li>
    </ol>
  </div>
</div>

<mat-menu #menu="matMenu">
  <ng-container *ngIf="currentPage === 1">
      <mat-form-field class="my-form-field" style="padding:10px;">
        <input matInput [(ngModel)]="filterSubject" (input)="filterPosts()" (click)="$event.stopPropagation()" placeholder="Filter by subject">
      </mat-form-field>
  </ng-container>
</mat-menu>




