<div class="breadcrumb-outer">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" [routerLink]="['/posts']">Latest Posts</li>
    </ol>
  </div>
</div>

<div class="wrapper">

<!-- <div class="mat-paginator-container" fxLayout="row" fxLayoutAlign="center center">
  <button mat-icon-button [disabled]="currentPage === 1" (click)="goToPreviousPage()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <div class="mat-paginator-range-label">
    Page {{ currentPage }} of {{ getTotalPages() }}
  </div>
  <button mat-icon-button [disabled]="currentPage === getTotalPages()" (click)="goToNextPage()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div> -->

<div class="block-filter-bar">
  <div class="filter-bar"  style="height: 25px;">
    <a class="filter-bar-menu-trigger" role="mat-button" href="">Filters<span class="filter-bar-icon"><mat-icon>arrow_drop_down</mat-icon></span></a>
    <input *ngIf="currentPage === 1" [(ngModel)]="filterSubject" (input)="filterPosts()" size="15" placeholder="Filter by subject" style="line-height: 2px;">
  </div>
</div>

  <div class="article-container" *ngFor="let post of posts; let i = index">
    <article class="message-outer">
      <span class="anchorTarget"></span>
      <div class="message-inner">
        <div class="message-cell message-cell-user">
          <section class="message-user">
            <div class="message-avatar">
              <div class="message-avatar-wrapper">
                <a href="">
                  <img class="avatar" src="{{ post.user.imageUrl }}" alt="">
                </a>
              </div>
            </div>
            <div class="user-details-wrapper">
              <div class="userDetails"></div>
              <div class="userExtras"></div>
            </div>
          </section>
        </div>
        <div class="message-cell message-cell-main">
          <div class="message-main">
            <div class="message-content">
              <a class="post-link" [routerLink]="['/categories', categoryId, 'posts', post.id, 'comments']" [innerHtml]='post.subject'></a>
              <!-- (click)="incrementViewCount(this.categoryId, post.id);" -->
            </div>
            <div class="message-content-details">
              <div class="message-user-details">
                <div>
                  <p class="p-content">{{ post.user.username }}</p>
                </div>
                <div>
                  <p class="p-content"><span style="margin-left: 5px; margin-right: 5px;">&#183;</span> {{ post.createdAt | date:'shortDate' }} at {{ post.createdAt | date:'shortTime' }}</p>
                </div>
              </div>
              <div class="message-metadetails">
                <div class="view-count">
                  <mat-icon class="mat-icons">visibility</mat-icon>
                  <p class="p-content">{{ post.viewCount }}</p>
                </div>
                <div class="comment-count">
                  <mat-icon class="mat-icons" style="margin-left: 8px;">chat_bubble</mat-icon>
                  <p class="p-content">{{ post.comments.length + 1}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="latest-comment-details" *ngFor="let comment of post.comments; let i = index;">
          <div *ngIf="i === post.comments.length - 1 && post.comments.length >= 1" class="latest-comment-date">{{ comment.createdAt | date:'shortDate' }} at {{ comment.createdAt | date:'shortTime' }}</div>
          <div *ngIf="i === post.comments.length - 1 && post.comments.length >= 1" class="latest-comment-user">{{ comment.user.username }}</div>
          <div *ngIf="post.comments.length < 1" class="latest-comment-date">{{ post.createdAt | date:'shortDate' }} at {{ post.createdAt | date:'shortTime' }}</div>
          <div *ngIf="post.comments.length < 1" class="latest-comment-date">{{ post.user.username }}</div>
        </div>
        <div class="latest-comment-details" *ngIf="post.comments.length < 1">
          <div class="latest-comment-date">{{ post.createdAt | date:'shortDate' }} at {{ post.createdAt | date:'shortTime' }}</div>
          <div class="latest-comment-date">{{ post.user.username }}</div>
        </div>
      </div>
    </article>
  </div>

</div>

<div class="breadcrumb-outer-bottom">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" [routerLink]="['/posts']">Latest Posts</li>
    </ol>
  </div>
</div>




