table {
  width: 100%;
}

td:first-child {
  width: 150px;
  font-weight: bold;
}

.card-wrapper {
  display: flex;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}
