table {
  width: 100%;
}

td:first-child {
  width: 150px;
  font-weight: bold;
}

.card-wrapper {
  display: flex;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
}

.mat-mdc-card-subtitle {
  background-color: var(--container-bkg-color);
  color: var(--text-color);
}

::ng-deep .mat-mdc-select-value {
  color: var(--text-color);
}

::ng-deep .mat-mdc-select-arrow {
  color: var(--text-color);
}

::ng-deep .cdk-overlay-pane:not(.mat-mdc-select-panel-above) .mdc-menu-surface.mat-mdc-select-panel {
  background-color: var(--bkg-color);
}

mat-card {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  background-color: var(--container-bkg-color);
  color: var(--text-color);
  transition:ease-in-out 0.1s;
}

mat-card:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: translateY(-5px);
}
