.message-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.message.right {
  flex-direction: row-reverse;
}

.message-content {
  background-color: #dcdcdc;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.message-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.message-user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.message-username {
  font-weight: bold;
}
