<div class="chat-container">
  <div class="messages-container">
    <div *ngIf="!messages.length">
      <h3>Send messages here to communicate ticket details with Admin</h3>
    </div>
    <div *ngFor="let message of messages" class="message" [ngClass]="{'right': !ticket.user, 'left': ticket.user}">
      <div class="user-avatar-container">
        <img [routerLink]="['/users', message.user.id]" [src]="message.user.imageUrl" alt="User Profile Picture" class="message-user-image">
      </div>
      <div class="message-format-container">
        <div class="message-user-info" *ngIf="ticket.user">
          <span class="message-username" [routerLink]="['/users', message.user.id]">{{ message.user.username }} said:</span>
          <span class="message-timestamp">{{ message.createdAt | timeAgo }}</span>
        </div>
        <div class="message-content">
          <p class="message-p-content">{{ message.content }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="new-message-container">
    <form (ngSubmit)="onSubmit()" #newMessageForm="ngForm" id="chat-form">
      <mat-form-field id="chat-form-container" class="new-message-input-container">
        <input id="chat-form-input" matInput type="text" placeholder="Type your message here" [(ngModel)]="newMessage.content" name="content" required>
      </mat-form-field>
      <button mat-icon-button color="primary" type="submit" class="new-message-send-button">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
