.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--bkg-color);
  color: var(--text-color);
  padding-left: 50px;
  padding-right: 50px;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  padding-left: 20px;
}

.message {
  display: flex;
  margin-bottom: 20px;
  max-width: 80%;
  align-self: flex-end;
}

.message-format-container {
  display: flex;
  flex-direction: column;
  background-color: var(--container-bkg-color);
  padding: 10px;
  border-radius: 6px;
  flex: 1;
}

.message.left {
  align-self: flex-start;
}

.message-content {
  background-color: var(--container-bkg-color);
  border-radius: 10px;
}

.message-p-content {
  margin: 0;

}

.user-avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.message-user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.message-user-image {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.message-username {
  font-weight: bold;
  font-size: 16px;
  color: #3f51b5;
  cursor: pointer;
}

.message-timestamp {
  font-size: 10px;
  color: #f44336;
}

.new-message-container {
  align-items: center;
  padding: 10px;
  background-color: var(--bkg-color);
}

.new-message-input-container {
  flex: 1;
  margin-right: 10px;
}

.new-message-send-button {
  width: 5%;
  height: 5%;
}

#chat-form {
  display: flex;
}

#chat-form-input {
  color: var(--text-color);
}

#chat-form-container {
  color: var(--text-color);
}

:host ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field {
  background-color: var(--container-bkg-color);
}




