.message-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 300px;
  padding: 10px;
}

.message {
  background-color: #f1f0f0;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  max-width: 80%;
}

.right {
  align-self: flex-end;
  background-color: #d6e4f0;
}

.left {
  align-self: flex-start;
}
