<div class="container-fluid title-container">
  <h1>Forum list</h1>
</div>
<div class="container-fluid main-container">
  <div class="container-fluid forums-container">
    <div class="container-fluid discussion-container">
      <mat-accordion>
      <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1>Discussion</h1>
          </mat-panel-title>
          <mat-panel-description>
            <!-- This is a summary of the content -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <div class="container-fluid discussion-container">
          <div class="container card gaming"  *ngFor="let category of categories">
            <h2>{{ category.name }}</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
          <div class="container-fluid card">
            <h2>Gaming Hangouts</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
          <div class="container-fluid card">
            <h2>Lore Forum</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
          <div class="container-fluid card">
            <h2>Lore Hangouts</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    </div>
    <div class="container-fluid official-container">
      <mat-accordion>
      <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1>Official</h1>
          </mat-panel-title>
          <mat-panel-description>
            <!-- This is a summary of the content -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <div class="container-fluid discussion-container">
          <div class="container-fluid card">
            <h2>Announcements</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
          <div class="container-fluid card">
            <h2>The Vault</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    </div>
  </div>
  <div class="container-fluid sidebar-container">
    <div class="container-fluid">
      <h1>Online Statistics</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
    </div>
    <div class="container-fluid">
      <h1>Latest Threads</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
    </div>
    <div class="container-fluid">
      <h1>Forum Statistics</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
    </div>
  </div>
</div>
