h1 {
  font-family: "Palanquin Dark",serif;
  font-size: 2em;
  font-weight: 400;
}
h2 {
  font-family: "Palanquin Dark",serif;
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-family: "Palanquin Dark",serif;
  font-size: 17px;
  font-weight: 400;
}
p {
  font-family: "Josefin Sans",serif;
  font-size: 16px;
}

.main-container {
  display: flex;
}

.title-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.discussion-container {
  display: flex;
  flex-wrap: wrap;
}

.official-container {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.sidebar-container {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}

.sidebar-item {
  margin: 1vh 0 5vh 0;
}

.discussion-container > div {
  flex: 35%;
  margin: 5px;
  color: white;
}

.card-gaming {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 16px;
  background: rgb(6,142,167);
  background: linear-gradient(90deg, rgba(6,142,167,1) 0%, rgba(36,161,159,1) 40%);
}

.card-gaming:hover {
  box-shadow: 0 6px 10px 0px rgb(0 0 0 / 14%), 0 1px 18px 0px rgb(0 0 0 / 12%), 0 3px 5px 0 rgb(0 0 0 / 20%) !important;
  transform: translateY(-5px);
}
.card-lore {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 16px;
  background: rgb(151,57,124);
  background: linear-gradient(90deg, rgba(151,57,124,1) 75%, rgba(138,57,127,1) 100%);
}

.card-lore:hover {
  box-shadow: 0 6px 10px 0px rgb(0 0 0 / 14%), 0 1px 18px 0px rgb(0 0 0 / 12%), 0 3px 5px 0 rgb(0 0 0 / 20%) !important;
  transform: translateY(-5px);
}

.card-announcements {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 16px;
  background: rgb(232,156,41);
  background: linear-gradient(90deg, rgba(232,156,41,1) 75%, rgba(232,131,58,1) 100%);
}

.card-announcements:hover {
  box-shadow: 0 6px 10px 0px rgb(0 0 0 / 14%), 0 1px 18px 0px rgb(0 0 0 / 12%), 0 3px 5px 0 rgb(0 0 0 / 20%) !important;
  transform: translateY(-5px);
}

.card-vault {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 16px;
  background: rgb(62,178,91);
  background: linear-gradient(90deg, rgba(62,178,91,1) 0%, rgba(83,183,75,1) 40%);
}

.card-vault:hover {
  box-shadow: 0 6px 10px 0px rgb(0 0 0 / 14%), 0 1px 18px 0px rgb(0 0 0 / 12%), 0 3px 5px 0 rgb(0 0 0 / 20%) !important;
  transform: translateY(-5px);
}

.ghost-container {
  height: 100px;
}

.node-container {
  display: flex;
  flex-direction: column;
}

.node-title-container {
  display: flex;
}

.material-icons {
  display: flex;
  font: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 10px;
}

.card-icon {
  width: 50px;
}

.card-title {

}

.title {

}

.description {

}

.meta-details {

}

.latest-post {

}

.user-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.user-avatar {
  width: 30px;
}

.user-post {

}

.post-title {

}

.post-time {

}






