h1 {
  font-family: "Palanquin Dark",serif;
}
h2 {
  font-family: "Palanquin Dark",serif;
}

h3 {
  font-family: "Palanquin Dark",serif;
}
p {
  font-family: "Josefin Sans",serif;
}

.main-container {
  display: flex;
}

.title-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.discussion-container {
  display: flex;
  flex-wrap: wrap;
}

.official-container {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.sidebar-container {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}

.discussion-container > div {
  flex: 35%;
  margin: 5px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 6px 10px 0px rgb(0 0 0 / 14%), 0 1px 18px 0px rgb(0 0 0 / 12%), 0 3px 5px 0 rgb(0 0 0 / 20%) !important;
  transform: translateY(-5px);
}






