<div class="container-fluid title-container">
  <h1>Forum list</h1>
</div>
<div class="container-fluid main-container">
  <div class="container-fluid forums-container">
    <div class="container-fluid discussion-container">
      <mat-accordion elevation={0}>
      <mat-expansion-panel hideToggle [expanded]="true" class="mat-elevation-z0" style="background-color: #fafafa;">
        <mat-expansion-panel-header style="height: 40px; align-items: baseline;">
          <mat-panel-title>
            <h2>Discussion</h2>
          </mat-panel-title>
          <mat-panel-description>
            <!-- This is a summary of the content -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <div class="container-fluid discussion-container">
          <div class="container card">
            <h3>Gaming Forum</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
          <div class="container-fluid card">
            <h3>Gaming Hangouts</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
          <div class="container-fluid card">
            <h3>Lore Forum</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
          <div class="container-fluid card">
            <h3>Lore Hangouts</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    </div>
    <div class="container-fluid official-container">
      <mat-accordion>
      <mat-expansion-panel hideToggle [expanded]="true" class="mat-elevation-z0" style="background-color: #fafafa;">
        <mat-expansion-panel-header style="height: 40px; align-items: baseline;">
          <mat-panel-title>
            <h2>Official</h2>
          </mat-panel-title>
          <mat-panel-description>
            <!-- This is a summary of the content -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <div class="container-fluid discussion-container">
          <div class="container-fluid card">
            <h3>Announcements</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
          <div class="container-fluid card">
            <h3>The Vault</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    </div>
  </div>
  <div class="container-fluid sidebar-container">
    <div class="container-fluid sidebar-item">
      <h3>Online Statistics</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
    </div>
    <div class="container-fluid sidebar-item">
      <h3>Latest Threads</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
    </div>
    <div class="container-fluid sidebar-item">
      <h3>Forum Statistics</h3>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
    </div>
  </div>
</div>
<div class="container-fluid ghost-container">

</div>
