h1 {
  font-family: "Palanquin Dark",serif;
  font-size: 1.8em;
}
h2 {
  font-family: "Palanquin Dark",serif;
  font-size: 1.3em;
}

h3 {
  font-family: "Palanquin Dark",serif;
  font-size: 17px;
  font-weight: 400;
}
h4 {
  margin: 0 0 1px;
}

p {
  font-size: 13px;
}

.disable-hover-color {
  background-color: #fafafa;
}
.disable-hover-color:hover {
  background-color: #fafafa !important;
}

.side-list {
  font-family: "Josefin Sans",serif;
  font-size: 13px;
}

.main-container {
  display: flex;
}

.title-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.discussion-container {
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: 0;
}

@media only screen and (max-width:1170px) {
  .discussion-container {
      display    : block;     /* override flexbox */
      min-height : inherit;
  }

}

.official-container {
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 0;
}

.sidebar-container {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}

.stats-container {
  display: flex;
  align-items: flex-end;
}

.stats-icon {
  justify-content: center;
  align-items: flex-end;
}

.stats-title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sidebar-item {
  margin: 1vh 0 5vh 0;
}

.discussion-container > div {
  flex: 45%;
  margin: 5px;
}

.card {
  max-width: 100%;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 6px 10px 0px rgb(0 0 0 / 14%), 0 1px 18px 0px rgb(0 0 0 / 12%), 0 3px 5px 0 rgb(0 0 0 / 20%) !important;
  transform: translateY(-5px);
}

.card-gaming {
  padding: 16px;
  background: rgb(6,142,167);
  background: linear-gradient(90deg, rgba(6,142,167,1) 0%, rgba(36,161,159,1) 40%);
  min-height: auto;
  border-radius: 5px 5px 0 0;
}

.card-lore {
  padding: 16px;
  background: rgb(152,57,124);
  background: linear-gradient(90deg, rgba(152,57,124,1) 40%, rgba(131,56,122,1) 100%);
  min-height: auto;
  border-radius: 5px 5px 0 0;
}

.card-announcements {
  padding: 16px;
  background: rgb(234,157,44);
  background: linear-gradient(90deg, rgba(234,157,44,1) 40%, rgba(227,127,58,1) 100%);
  min-height: auto;
  border-radius: 5px 5px 0 0;
}

.card-vault {
  padding: 16px;
  background: rgb(62,178,91);
  background: linear-gradient(90deg, rgba(62,178,91,1) 0%, rgba(89,185,73,1) 45%);
  min-height: auto;
  border-radius: 5px 5px 0 0;
}

.ghost-container {
  height: 100px;
}

.node-container {
  display: flex;
  flex-direction: column;
}

.inline-pairs {
  display: inline;
  padding: 0;
  margin: 0;
  overflow: hidden;
  line-height: 1.7;
}

.forum-stats {
  display: inline;
}

.meta-details {
  display: flex;
  margin:0;
  float:right;
}
.meta-details > p {
  display: flex;
  margin:0;
}

#description-text {
  margin: 0 0 1px !important;
}

.more-container {
  background-color: #ffffff;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  padding: 5px 5px 0 0;
  border-radius: 5px;
}

.node-title-container {
  display: flex;
}

.material-icons {
  display: flex;
  font: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 10px;
  background-color: rgba(255,255,255,.5);
}

.arrow-forward {
  font-size: 15px !important;
  background-color: #ffffff !important;
  display: flex;
  justify-content: right;
}

.more-container > a {
  text-decoration: none;
}

.more-container > a:hover {
  text-decoration: none;
}

.card-icon {
  width: 45px;
  margin-right: 20px;
}

.card-title {

}

.title {

}

.subject {
  margin-bottom: 0;
}

.description {

}

.meta-details {

}

.latest-post {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.user-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin-right: 10px;
}

.user-avatar {
  width: 30px;
}

.user-post {

}

.post-title {

}

.post-time {

}

.forums-container {
  width: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.dark-link {
  text-decoration: none;
  color: black;
}

.dark-link:hover {
  text-decoration:underline;
  color: black;
}

.light-link {
  text-decoration: none;
  color: #ffffff;
}

.light-link:hover {
  text-decoration:underline;
  color: #ffffff;
}

dl {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.block-body {

}

.block-row {
  margin: 0;
  margin-bottom: 20px !important;
}

.content-row {
  display: flex;
}

.content-row-main {
  padding-left: 12px;
}

.content-row-figure {
  vertical-align: top;
  white-space: nowrap;
  word-wrap: normal;
  text-align: center;
  padding-top: 5px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 5px;
}

.avatar.avatar--xxs {
  width: 24px;
  height: 24px;
  font-size: 14px;
}

.avatar {
  border-radius: 4px;
  vertical-align: top;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: 0;
}

.avatar img:not(.cropImage) {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  display: block;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listInline>li {
  display: inline;
  margin: 0;
  padding: 0;
}

#userThumbnail {
  width: 35px;
  border: 1px solid white;
  margin-right: 15px;
}

#username {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.sidebar-hr {
padding: 0;
margin: 0;
margin-bottom: 15px;
}

.main-hr {
  margin-top: 5px;
}

.pairs {
  display: flex;
  float: left;
  max-width: 100%;
  margin-right: 12px;
  flex-shrink: 0;
  align-items: center;

}

.dt-icon {
  margin-right: 0;
}

dd {
  margin: 0;
}

.icons {
  font-size: 18px;
}

.rotate {
  -moz-transition: all .1s linear;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.down {
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}







