<mat-toolbar color="primary" role="heading">
  <button mat-icon-button (click)="clickMenu()">
   <mat-icon>menu</mat-icon>
 </button>
 <button mat-button [routerLink]="['/home']">
   <span>Lore Hunter</span>
 </button>
 <span class="example-spacer"></span>
 <button mat-button *ngIf="!loggedIn()" (click)="open(loginmodal)">
   <span>Login</span>
 </button>
 <button mat-button *ngIf="!loggedIn()" (click)="open(registermodal)">
  <span>Register</span>
</button>
  <img id="userThumbnail" src="{{ loggedInUser.imageUrl }}" alt="" *ngIf="loggedIn()"/>
  <span id="username" *ngIf="loggedIn()">{{ loggedInUser.username }}</span>
  <app-logout *ngIf="loggedIn()"></app-logout>
</mat-toolbar>

<ng-template #loginmodal let-modal>
  <div *ngIf="!loggedIn()">
  <div class="modal-body" style="background-color: #3f51b5;">
    <app-login></app-login>
  </div>
</div>
</ng-template>

<ng-template #registermodal let-modal>
  <div *ngIf="!loggedIn()">
  <div class="modal-body" style="background-color: #3f51b5;">
    <app-register></app-register>
  </div>
</div>
</ng-template>
