<mat-toolbar color="primary" role="heading" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
      <button mat-icon-button (click)="clickMenu()">
       <mat-icon>menu</mat-icon>
     </button>
     <button mat-button [routerLink]="['/home']">
       <span class="logo">Lore Hunters</span>
     </button>
     <button mat-button [matMenuTriggerFor]="afterMenu" id="quick-jump-btn"><span>Quick Jump</span><mat-icon>arrow_drop_down</mat-icon></button>
     <mat-menu #afterMenu="matMenu" xPosition="after">
      <div *ngFor="let category of categories; let i = index">
        <button *ngIf="i === 0" mat-menu-item [routerLink]="['/categories', category.id, 'posts']">{{category.name}}</button>
        <button *ngIf="i === 1" mat-menu-item [routerLink]="['/categories', category.id, 'posts']">{{category.name}}</button>
        <button *ngIf="i === 2" mat-menu-item [routerLink]="['/categories', category.id, 'posts']">{{category.name}}</button>
        <button *ngIf="i === 3" mat-menu-item [routerLink]="['/categories', category.id, 'posts']">{{category.name}}</button>
        <button *ngIf="i === 4" mat-menu-item [routerLink]="['/categories', category.id, 'posts']">{{category.name}}</button>
        <button *ngIf="i === 5" mat-menu-item [routerLink]="['/categories', category.id, 'posts']">{{category.name}}</button>
      </div>
      </mat-menu>
     <span class="example-spacer"></span>
     <button mat-button *ngIf="!loggedIn()" (click)="open(loginmodal)">
       <span>Login</span>
     </button>
     <button mat-button *ngIf="!loggedIn()" (click)="open(registermodal)">
      <span>Register</span>
    </button>
      <a style="cursor: pointer;" [routerLink]="['/users', loggedInUser.id]"><img id="userThumbnail" src="{{ loggedInUser.imageUrl }}" alt="" *ngIf="loggedIn()"/></a>
      <button mat-button *ngIf="loggedIn()" [routerLink]="['/users', loggedInUser.id]">{{ loggedInUser.username }}</button>
      <app-logout *ngIf="loggedIn()"></app-logout>
</mat-toolbar>
<mat-progress-bar *ngIf="displayProgressBar" style="z-index: 2;" mode="indeterminate" color="warn"></mat-progress-bar>

<ng-template #loginmodal let-modal>
  <div *ngIf="!loggedIn()">
  <div class="modal-body" style="background-color: #3f51b5;">
    <app-login></app-login>
  </div>
</div>
</ng-template>

<ng-template #registermodal let-modal>
  <div *ngIf="!loggedIn()">
  <div class="modal-body" style="background-color: #3f51b5;">
    <app-register></app-register>
  </div>
</div>
</ng-template>
