<mat-toolbar color="primary" role="heading" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;">
      <button mat-icon-button (click)="clickMenu()">
       <mat-icon>menu</mat-icon>
     </button>
     <button mat-button [routerLink]="['/home']">
       <span class="logo">Lore Hunters</span>
     </button>
     <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
     <mat-menu #afterMenu="matMenu" xPosition="after">
       <button mat-menu-item>Item 1</button>
       <button mat-menu-item>Item 2</button>
      </mat-menu>
     <span class="example-spacer"></span>
     <button mat-button *ngIf="!loggedIn()" (click)="open(loginmodal)">
       <span>Login</span>
     </button>
     <button mat-button *ngIf="!loggedIn()" (click)="open(registermodal)">
      <span>Register</span>
    </button>
      <a style="cursor: pointer;"><img id="userThumbnail" src="{{ loggedInUser.imageUrl }}" alt="" *ngIf="loggedIn()"/></a>
      <button mat-button *ngIf="loggedIn()">{{ loggedInUser.username }}</button>
      <app-logout *ngIf="loggedIn()"></app-logout>
</mat-toolbar>

<ng-template #loginmodal let-modal>
  <div *ngIf="!loggedIn()">
  <div class="modal-body" style="background-color: #3f51b5;">
    <app-login></app-login>
  </div>
</div>
</ng-template>

<ng-template #registermodal let-modal>
  <div *ngIf="!loggedIn()">
  <div class="modal-body" style="background-color: #3f51b5;">
    <app-register></app-register>
  </div>
</div>
</ng-template>
