.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.app-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

h1 {
  font-family: "Palanquin Dark",serif;
}
p {
  font-family: "Josefin Sans",serif;
}

.example-spacer {
  flex: 1 1 auto;
}

#userThumbnail {
  width: 35px;
  border: 1px solid white;
  margin-right: 15px;
}

#username {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.logo {
  font-family: "Palanquin Dark",serif;
  font-size:1.6em;
}


