.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.app-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

h1 {
  font-family: "Palanquin Dark",serif;
}
p {
  font-family: "Josefin Sans",serif;
}

.example-spacer {
  flex: 1 1 auto;
}

#userThumbnail {
  width: 35px;
  height: 35px; /* Set the height to match the desired width */
  margin-right: 15px;
  background-size: cover;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#userThumbnail:hover {
  transform: scale(1.05);
}


#username {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.logo {
  font-family: "Palanquin Dark",serif;
  font-size:1.6em;
  transition: all cubic-bezier(.4,0,.2,1) .15s;
  padding: 5px;
  width: 200px;
  height: auto;
  color: lightgray;
}

.logo:hover {
  font-family: "Palanquin Dark",serif;
  font-size:1.6em;
  transition: all cubic-bezier(.4,0,.2,1) .15s;
  padding: 5px;
  width: 200px;
  height: auto;
  color: #fff;
}

.profile-text {
  color: lightgray;
}

.profile-text:hover {
  color: #fff;
}

.login-text {
  color: lightgray;
}

.login-text:hover {
  color: #fff;
}

.logout-text {
  color: lightgray;
}

.logout-text:hover {
  color: #fff;
}

.register-text {
  color: lightgray;
}

.register-text:hover {
  color: #fff;
}

.quickJump-text {
  color: lightgray;
}

.quickJump-text:hover {
  color: #fff;
}

/* .logo:hover {
  font-family: "Palanquin Dark",serif;
  font-size:1.6em;
  transition: all cubic-bezier(.4,0,.2,1) .15s;
  padding: 5px;
  width: 500px;
  height: auto;
} */

/* .logo:hover {
  font-family: "Palanquin Dark",serif;
  font-size:1.6em;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px 0 rgba(0,0,0,.2)!important;
  transform: translateY(-5px);
  border-radius: 5px;
} */

#quick-jump-btn {
  margin-left: 5px;
  background: #4255c0;
  border: 1px solid rgba(158,159,162,.12);
  box-shadow: 0 20px 20px 0 rgba(0,0,0,.08);
  transition: all cubic-bezier(.4,0,.2,1) .15s;
}

/* #quick-jump-btn:hover {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12),0 3px 5px 0 rgba(0,0,0,.2)!important;
  transform: translateY(-1px);
} */

::ng-deep .mat-toolbar .mat-mdc-button {
  min-width: 40px !important;
}

.rotate {
  -moz-transition: all .0.1s linear;
  -webkit-transition: all .0.1s linear;
  transition: all 0.1s linear;
  color: lightgray;
}

.down {
  -moz-transform:rotate(-180deg);
  -webkit-transform:rotate(-180deg);
  transform:rotate(-180deg);
  color: #fff;
}

.highlight {
  color: #fff;
}

.rotate-hamburger {
  -moz-transition: all .0.4s linear;
  -webkit-transition: all .0.4s linear;
  transition: all 0.4s ease-in-out;
  color: lightgray;
}

.right {
  -moz-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
  color: #fff;
}

/* mat-toolbar .animated-ui:before {
  content: "";
  width: 0;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.5s;
}

mat-toolbar .animated-ui:after {
  content: "";
  width: 0;
  height: 5px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 0.5s;
}

mat-toolbar .animated-ui:hover:before {
  width: 49%;
  transform: translateX(100%);
}

mat-toolbar .animated-ui:hover:after {
  width: 49%;
  transform: translateX(-100%);
} */

.menu-categories:hover {
  background: #f44336;
  color: #fff;
}

::ng-deep .mat-mdc-menu-content {
  background: var(--container-bkg-color);
  color: var(--text-color);
  padding: 0 !important;
}

/* scroll to top and bottom */
.scroll-to-icons {
  color: #fff;
  cursor: pointer;
}

.scroll-to-icons:hover {
  color: #fff;
  background-color: #4050b5;
}

.u-scrollButtons {
  display: flex;
}

.scroll-to-top {

}

.scroll-to-bottom {

}

.send-notification-wrapper {

}




