h1 {
  font-family: "Palanquin Dark",serif;
}
h3 {
  font-family: "Palanquin Dark",serif;
}
p {
  font-family: "Josefin Sans",serif;
}

.main-container {
  display: flex;
}

.title-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.discussion-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2vh;
}

.official-container {
  margin: 2vh;
}

.sidebar-container {
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}

.discussion-container > div {
  flex: 50%;
}


