<div class="container-fluid title-container">
  <h1>Forum list</h1>
</div>
<div class="container-fluid main-container">
  <div class="container-fluid forums-container">
    <div class="container-fluid discussion-container">
      <!-- <h1>Discussion</h1>
      <hr>
      <div class="container-fluid discussion-container">
        <div class="container-fluid">
          <h3>Gaming Forum</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
        </div>
        <div class="container-fluid">
          <h3>Gaming Hangouts</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
        </div>
        <div class="container-fluid">
          <h3>Lore Forum</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
        </div>
        <div class="container-fluid">
          <h3>Lore Hangouts</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
        </div>
      </div> -->
      <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1>Discussion</h1>
          </mat-panel-title>
          <mat-panel-description>
            <!-- This is a summary of the content -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <div class="container-fluid discussion-container">
          <div class="container-fluid">
            <h3>Gaming Forum</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
          <div class="container-fluid">
            <h3>Gaming Hangouts</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
          <div class="container-fluid">
            <h3>Lore Forum</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
          <div class="container-fluid">
            <h3>Lore Hangouts</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    </div>
    <div class="container-fluid official-container">
      <!-- <h1>Official</h1>
      <hr>
      <div class="container-fluid">
        <div class="container-fluid discussion-container">
          <div class="container-fluid">
            <h3>Announcements</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
          <div class="container-fluid">
            <h3>The Vault</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
        </div>
      </div> -->
      <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1>Official</h1>
          </mat-panel-title>
          <mat-panel-description>
            <!-- This is a summary of the content -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <hr>
        <div class="container-fluid discussion-container">
          <div class="container-fluid">
            <h3>Announcements</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
          <div class="container-fluid">
            <h3>The Vault</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    </div>
  </div>
  <div class="container-fluid sidebar-container">
    <div class="container-fluid">
      <h1>Online Statistics</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
    </div>
    <div class="container-fluid">
      <h1>Latest Threads</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
    </div>
    <div class="container-fluid">
      <h1>Forum Statistics</h1>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia aliquid et, dicta itaque voluptatem impedit laudantium illo ad in dolorum distinctio accusamus repudiandae quia dignissimos ut! Expedita ratione molestiae labore?</p>
    </div>
  </div>
</div>
