.p-container {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.p-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-body {
  display: flex;
  flex-wrap: wrap;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Additional styles for row */
}

.item-card {
  width: calc(20% - 20px); /* Adjust width as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
  /* Additional styles for item-card */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--container-bkg-color);
  color: var(--text-color);
}

.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.card-clicked {
  position: fixed;
  top: calc(50% - 150px); /* Adjust the value to center the card vertically */
  left: calc(50% - 150px); /* Adjust the value to center the card horizontally */
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1.5); /* Add perspective, rotateX, and rotateY properties */
  z-index: 999;
  transition: transform 0.05s ease-in-out;
  cursor: pointer;
}

.card-clicked:hover {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05); /* Add a zoom effect on hover */
  cursor: pointer;
}

.item-card-image img {
  width: 100%;
  height: auto;
  border: 2px solid #3f51b5;
  /* Additional styles for item-card-image */
}

.item-card-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Additional styles for item-card-details */
}

.item-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  /* Additional styles for item-card-title */
}

.item-card-description {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
  /* Additional styles for item-card-description */
}

.item-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Additional styles for item-card-footer */
}

.item-card-price {
  font-size: 14px;
  /* Additional styles for item-card-price */
}

.item-card-link {
  font-size: 14px;
  text-decoration: none;
  /* Additional styles for item-card-link */
}

.item-grid2 {
  background-color: var(--bkg-color);
}

.paginator-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.pageNav {
  color: #6e7072;
  border-bottom-color: rgba(158,159,162,0.12);
}

.notCurrentPage {
  color: #6e7072;
  border-bottom-color: rgba(158,159,162,0.12);
}

.pageNav:hover {
  color:#3f51b5;
  border-bottom: 2px solid #3f51b5;
}

.isCurrentPage {
  color:#3f51b5;
  font-weight:bolder;
  border-bottom: 2px solid #3f51b5 !important;
}

.pageNav-next {
  display: inline-block;
  background: var(--container-bkg-color);
    border-width: 0;
    border-style: solid;
    border-top-color: rgba(158,159,162,0.12);
    border-right-color: rgba(158,159,162,0.12);
    border-left-color: rgba(158,159,162,0.12);
    border-radius: 0;
    border: 1px solid rgba(158,159,162,0.12);
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    height: 26px;
    line-height: 26px;
    margin-left: 6px;
    text-decoration: none;
    cursor: pointer;
}

.pageNav-prev {
  display: inline-block;
    background: var(--container-bkg-color);
    border-width: 0;
    border-style: solid;
    border-top-color: rgba(158,159,162,0.12);
    border-right-color: rgba(158,159,162,0.12);
    border-left-color: rgba(158,159,162,0.12);
    border-radius: 0;
    border: 1px solid rgba(158,159,162,0.12);
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    height: 26px;
    line-height: 26px;
    margin-right: 6px;
    text-decoration: none;
    cursor: pointer;
}

.pageNav-pages {
  display: inline-block;
  background: var(--container-bkg-color);
  border-width: 0;
  border-style: solid;
  border-top-color: rgba(158,159,162,0.12);
  border-right-color: rgba(158,159,162,0.12);
  border-left-color: rgba(158,159,162,0.12);
  border-radius: 0;
  border: 1px solid rgba(158,159,162,0.12);
  white-space: nowrap;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  height: 26px;
  line-height: 26px;
  text-decoration: none;
  cursor: pointer;
}

.p-filter {
  flex: 1; /* Add this line */
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.page-navigation {
  flex: 1; /* Add flex property to take up remaining space */
  width: 80%;
}

.queryInputElement {
  flex: 0 0 auto; /* Add flex property to prevent it from growing or shrinking */
  display: flex;
  justify-content: end;
  width: 20%;
}

.ghost-container {
  width: 80%;
}

