<div class="container-fluid title-container" style="background: var(--bkg-color) !important;">
  <h1 class="forum-list-title">Games list</h1>
</div>

<div class="breadcrumb-outer">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" [routerLink]="['/games']">Games</li>
    </ol>
  </div>
</div>

<div class="p-container">

  <div class="p-main">
    <div class="p-filter">
      <div class="ghost-container" *ngIf="searchQuery !== ''">

      </div>
      <div *ngIf="searchQuery === ''" class="page-navigation">
        <a class="pageNav-prev pageNav" *ngIf="page !== 1" (click)="onPreviousPage()">Prev</a>
        <a class="pageNav-pages pageNav" [ngClass]="{'isCurrentPage': page === currentPage, 'notCurrentPage': page !== currentPage}" *ngFor="let page of pages" (click)="page === -1 ? onJumpToPageDialog() : onJumpToPage(page)">
          <!-- Display ellipsis for -1 values -->
          <ng-container *ngIf="page === -1">...</ng-container>
          <!-- Display page number for other values -->
          <ng-container *ngIf="page !== -1">{{ page }}</ng-container>
        </a>
        <a class="pageNav-next pageNav" *ngIf="page < totalPages" (click)="onNextPage()">Next</a>
      </div>
      <div class="queryInputElement">
        <input type="text"gi [(ngModel)]="searchQuery" (input)="searchGames(searchQuery)" placeholder="Search games by name">
      </div>

    </div>

    <div class="loading-container" *ngIf="isLoading">
      <mat-progress-spinner style="margin-top: 100px;" color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>

      <div *ngIf="searchResults && !isLoading" class="p-body">
        <div class="row item-grid2">
          <div class="card item-card" *ngFor="let game of searchResults" (click)="onCardClick($event)">
            <div class="item-card-image">
              <!-- <img class="game-image" src="{{ game.background_image }}" alt="Item Image" loading="lazy"> -->
              <img class="game-image" [style.background-image]="'url(' + game.background_image + ')'" [style.background-position]="'center'" loading="lazy">
            </div>
            <div class="item-card-details">
              <h3 class="item-card-title">{{ game.name }}</h3>
              <p class="item-card-description">Released: {{ game.released }}</p>
              <div title="Metascore" class="metascore-label metascore-label_green">
                {{ game.metacritic }}
              </div>
              <!-- <p class="item-card-description">Metacritic: {{ game.metacritic }}</p> -->
              <p class="item-card-description">Playtime: {{ game.playtime }} hours</p>
              <div class="item-card-footer">

              </div>
            </div>
          </div>

        </div>
      </div>

    <div *ngIf="searchQuery === '' && !isLoading" class="p-body">
      <div class="row item-grid2">
        <div class="card item-card" *ngFor="let game of games" (click)="onCardClick($event)">
          <div class="item-card-image">
            <img class="game-image" [style.background-image]="'url(' + game.background_image + ')'" [style.background-position]="'center top'" loading="lazy">
          </div>
          <div class="item-card-details">
            <div class="item-card-footer">
              <div class="platform-wrapper">
                <ng-container *ngFor="let platform of game.parent_platforms" class="platform-body">
                  <div title="Playstation" *ngIf="platform.platform.slug === 'playstation'">
                    <img  class="platform-icon" src="https://cdn.iconscout.com/icon/free/png-512/free-playstation-3521641-2945085.png" alt="">
                  </div>
                  <div title="Xbox" *ngIf="platform.platform.slug === 'xbox'">
                    <img  class="platform-icon" src="https://cdn.iconscout.com/icon/free/png-512/free-xbox-49-722654.png" alt="">
                  </div>
                  <div title="Nintendo" *ngIf="platform.platform.slug === 'nintendo'">
                    <img  class="platform-icon" src="https://cdn.iconscout.com/icon/free/png-512/free-nintendo-3521606-2945050.png" alt="">
                  </div>
                  <div title="Sega" *ngIf="platform.platform.slug === 'sega'">
                    <img  class="platform-icon" src="https://cdn.iconscout.com/icon/free/png-512/free-sega-3521696-2945140.png" alt="">
                  </div>
                  <div title="Apple" *ngIf="platform.platform.slug === 'apple'">
                    <img  class="platform-icon" src="https://cdn.iconscout.com/icon/free/png-512/free-logo-1889536-1597596.png" alt="">
                  </div>
                  <div title="Android" *ngIf="platform.platform.slug === 'android'">
                    <img  class="platform-icon" src="https://cdn.iconscout.com/icon/free/png-512/free-android-247-1175275.png" alt="">
                  </div>
                </ng-container>
              </div>
              <div title="Metascore" class="metascore-label metascore-label_green metascore-container">
                {{ game.metacritic }}
              </div>
            </div>
            <h3 class="item-card-title">{{ game.name }}</h3>
            <p class="item-card-description">Released: {{ game.released }}</p>

            <!-- <p class="item-card-description">Metacritic: {{ game.metacritic }}</p> -->
            <p class="item-card-description">Playtime: {{ game.playtime }} hours</p>

          </div>
        </div>

      </div>
    </div>

  </div>

</div>

<div class="breadcrumb-outer-bottom" *ngIf="!isLoading">
  <div class="breadcrumb-inner">
    <ol class="breadcrumbnav" style="padding:0;">
      <li class="breadcrumb-value" [routerLink]="['/home']">Discussion</li>
      <li class="breadcrumb-value" [routerLink]="['/games']">Games</li>
    </ol>
  </div>
</div>
