.breadcrumbnav {
  list-style: none;
}

.breadcrumbnav > li {
  display: inline-block;
  font-weight: bold;
  font-family: "Palanquin Dark",serif;
  font-size: 1em;
}

.breadcrumbnav li::after {
  content: " \a0> \a0";
}

.breadcrumbnav li:last-child::after {
  content: "";
}

.breadcrumbnav > a {
  font-weight: normal;
  text-decoration: none;
  color: #222;
}

.breadcrumbnav > a:hover {
  text-decoration: underline;
}

.breadcrumb-value {
  cursor: pointer;
  color: var(--text-color);
}

.breadcrumb-outer {
  margin: 25px;
}

.breadcrumb-outer-bottom {
  margin-bottom: 100px !important;
  margin-top: 100px !important;
  margin: 25px;
}

.title-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  background: var(--bkg-color);
}

.forum-list-title {
  color: var(--text-color);
  font-family: "Palanquin Dark",serif;
  font-size: 1.8em;
}

.p-container {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.p-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.p-body {
  display: flex;
  flex-wrap: wrap;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Additional styles for row */
}

.item-card {
  width: 266px; /* Adjust width as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
  /* Additional styles for item-card */
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  background: var(--container-bkg-color);
  color: var(--text-color);
}

.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.card-clicked {
  position: fixed;
  top: calc(50% - 150px); /* Adjust the value to center the card vertically */
  left: calc(50% - 150px); /* Adjust the value to center the card horizontally */
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1.5); /* Add perspective, rotateX, and rotateY properties */
  z-index: 999;
  transition: transform 0.05s ease-in-out;
  cursor: pointer;
}

.card-clicked:hover {
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05); /* Add a zoom effect on hover */
  cursor: pointer;

}

/* .item-card-image img {
  width: 100%;
  height: auto;
  border: 2px solid #3f51b5;
} */

.item-card-image {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0.2em;
  width: 100%;
  height: 130px;
  overflow: hidden;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.game-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.game-image:hover {
  transform: scale(1.15);
}

.loading-container {
  margin-top: 50px;
}

.item-card-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Additional styles for item-card-details */
}

.item-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
  /* Additional styles for item-card-title */
}

.item-card-description {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
  /* Additional styles for item-card-description */
}

.item-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  /* Additional styles for item-card-footer */
}

/* .platform-body {
  display: flex;
  justify-content: space-evenly;
} */

.item-card-price {
  font-size: 14px;
  /* Additional styles for item-card-price */
}

.item-card-link {
  font-size: 14px;
  text-decoration: none;
  /* Additional styles for item-card-link */
}

.item-grid2 {
  background-color: var(--bkg-color);
}

.paginator-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.pageNav {
  color: #6e7072;
  border-bottom-color: rgba(158,159,162,0.12);
}

.notCurrentPage {
  color: #6e7072;
  border-bottom-color: rgba(158,159,162,0.12);
}

.pageNav:hover {
  color:#3f51b5;
  border-bottom: 2px solid #3f51b5;
}

.isCurrentPage {
  color:#3f51b5;
  font-weight:bolder;
  border-bottom: 2px solid #3f51b5 !important;
}

.pageNav-next {
  display: inline-block;
  background: var(--container-bkg-color);
    border-width: 0;
    border-style: solid;
    border-top-color: rgba(158,159,162,0.12);
    border-right-color: rgba(158,159,162,0.12);
    border-left-color: rgba(158,159,162,0.12);
    border-radius: 0;
    border: 1px solid rgba(158,159,162,0.12);
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    height: 26px;
    line-height: 26px;
    margin-left: 6px;
    text-decoration: none;
    cursor: pointer;
}

.pageNav-prev {
  display: inline-block;
    background: var(--container-bkg-color);
    border-width: 0;
    border-style: solid;
    border-top-color: rgba(158,159,162,0.12);
    border-right-color: rgba(158,159,162,0.12);
    border-left-color: rgba(158,159,162,0.12);
    border-radius: 0;
    border: 1px solid rgba(158,159,162,0.12);
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    height: 26px;
    line-height: 26px;
    margin-right: 6px;
    text-decoration: none;
    cursor: pointer;
}

.pageNav-pages {
  display: inline-block;
  background: var(--container-bkg-color);
  border-width: 0;
  border-style: solid;
  border-top-color: rgba(158,159,162,0.12);
  border-right-color: rgba(158,159,162,0.12);
  border-left-color: rgba(158,159,162,0.12);
  border-radius: 0;
  border: 1px solid rgba(158,159,162,0.12);
  white-space: nowrap;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  height: 26px;
  line-height: 26px;
  text-decoration: none;
  cursor: pointer;
}

.p-filter {
  flex: 1; /* Add this line */
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

.page-navigation {
  flex: 1; /* Add flex property to take up remaining space */
}

.queryInputElement {
  flex: 0 0 auto; /* Add flex property to prevent it from growing or shrinking */
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.ghost-container {
  width: 80%;
}

/* .metascore-label .metascore-label_green {
    color: #6dc849;
    border-color: rgba(109,200,73,.4);
  }

.metascore-label {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2px 0;
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    border: 1px solid;
} */

.metascore-label {
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
  line-height: normal;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 0;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  border: 1px solid;
  min-width: 32px;
  color: #6dc849;
  border-color: rgba(109,200,73,.4);
}

.platform-wrapper {
  display: flex;
}

.platform-icon {
  width: 16px;
  height: auto;
  margin-right: 5px;
}

.metascore-container {
  float: right;
}

@media (max-width: 768px) {
  .item-grid2 {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}

